/* 
    Nebula uses the SCSS syntax to write stylesheets.
    The main.scss file is the entry point for all stylesheets.
    
    The main.scss file is compiled into main.css.
    Please do not write directly to any of the files in the /css directory, 
        !!these files may get overwritten when nebula builds!!
        instead, write to in the /scss directory.

    Please see the Nebula documentation for more information.
    
    !!!NOTE the scss compiler in nebula does not like mixing types (e.g. vh and px) in 'calc', 'min' and 'max' functions. To use them,
        you must escape them with #{" calc(...) "} or #{" min(...) "} or #{" max(...) "}. This is because the scss compiler (libsass) in nebula is deprecated,
        but it's replacement - Dart Sass - does not support python.

    @TODO: Find a better way of compiling SCSS files within Python.
*/

/* 
    Imports all forwarded SCSS files 

    To forward a SCSS file, add the @forward 'file_name' to the index.scss file.
*/
@use "abstracts";
@use "abstracts/mixins" as *;
@use "components";

.bg-blue {
	background-color: var(--color-primary) !important;
	text-align: right;
}

/* 
    General Settings 
*/

html {
	color: var(--color-text-primary);
	font-size: 100%;
	text-rendering: optimizeLegibility;
	color-scheme: var(--color-scheme);
}

body {
	margin: 0 0 0 0;
	background-color: var(--color-background);
}

::selection,
::-moz-selection,
::-webkit-selection {
	background-color: var(--color-accent);
	color: var(--color-text-on-accent);
}

.container-lg {
	@include mq(sm) {
		padding-left: 1.25rem;
		padding-right: 1.25rem;
	}

	@include mq(xxl) {
		max-width: 1440px;
	}

	@include mq(xxxl) {
		max-width: 1780px;
	}
}

kbd {
	background-color: var(--color-text-primary);
	color: var(--color-background);
	font-weight: 400;
}

/* 
    Layout
*/

.divider {
	/* Divider */
	border-bottom: 1px solid var(--color-text-tertiary);
	margin: 0.25rem 0;
}

/*
    Main 
*/

main {
	min-height: calc(100vh - 100px);
}

/*
    Header 
*/

header + * {
	margin-top: 1rem;
}

header + .no-header-margin {
	margin-top: 0;
}

/* 
    Navigation
*/

/*
    Footer 
*/

footer {
	padding: 1em 0;
	margin: 60px auto 0 auto;
	/* margin-top: 60px;
	margin-bottom: 0 !important; */
	background-color: var(--grey, #666666) !important;
	font-size: 90%;
	color: #fff !important;
	text-align: center;
	width: 100%;
}

footer p {
	margin-bottom: 0;
}

.no-footer-margin + footer {
	margin-top: 0;
}

/*
    Reusables
*/

.js-only {
	display: none;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	opacity: 0.00001 !important;
}

.row {
	margin-top: 30px;
}

a {
	color: var(--color-accent);
	text-decoration: none;

	&:hover,
	&:focus {
		color: var(--color-accent-focus);
	}
}

.path-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1rem;

	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 0.125rem;

	@include mq(sm) {
		flex-direction: row;
		gap: 0;

		&__link {
			text-align: start;
		}
	}

	&__link {
		color: var(--color-text-secondary);
		font-family: "Poppins", "Open Sans", "Arial", sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: var(--font-size-h4);
		flex: 0 0 content;
		text-align: center;

		&:hover {
			color: var(--color-text-primary);
		}

		&::after {
			content: ">";
			font-family: "Poppins", "Open Sans", "Arial", sans-serif;
			font-style: normal;
			font-weight: 600;
			font-size: var(--font-size-h4);
			margin-inline: 0.0625rem;
		}
		&:last-child {
			color: var(--color-primary-active);
			&::after {
				content: "";
			}
		}
	}
}

/*
    Index Page
*/
.container-index {
	grid-template-columns: 1fr 1fr;
	display: grid;
	width: 100%;
	min-height: #{"calc(100vh - 4rem)"};
	position: relative;
}

.container-index h2 {
	color: var(--color-text-on-primary);
	font-size: 2rem;
	font-weight: 700;
	font-family: "Poppins", "Open Sans", "Arial", sans-serif;
}

.container-index .button-accent {
	font-size: 1.2rem;
}

.container-index h3 {
	color: var(--color-text-on-primary);
	font-size: 1.5rem;
	font-weight: 700;
	font-family: "Poppins", "Open Sans", "Arial", sans-serif;
}

.container-index p {
	color: var(--color-text-on-primary);
	font-size: 1.125rem;
	font-weight: 400;
	font-family: "Poppins", "Open Sans", "Arial", sans-serif;
}

.container-index .btn {
	font-size: 1.5rem;
}

.container-introduction {
	margin-bottom: 1rem;
	padding-top: 1rem;
}

.container-introduction h2 {
	color: var(--color-text-on-primary);
	font-size: 3rem;
}

.container-introduction p {
	color: var(--color-text-on-primary);
	font-weight: 400;
	font-family: "Poppins", "Open Sans", "Arial", sans-serif;
}

.container-introduction .image img {
	width: 100%;
	max-width: 650px;
	transform: translateY(60%);
}

.container-index-browse {
	/* background-color: var(--color-background-secondary); */
	padding: 0.5rem 0;
}

.container-add-question {
	margin-top: 1rem;
}

.container-add-question h2 {
	margin-bottom: 0.5rem;
}

.container-add-question .btn-primary {
	margin-top: 1rem;
}

.container-add-question .btn-primary:hover,
.container-add-question .btn-primary:focus {
	opacity: 1;
	background-position: right center;
	border: none;
	box-shadow: none;
}

.tag-container {
	* + * {
		margin-left: 0.5rem;
	}
}

.container-index .panel {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.container-index .left-panel {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	padding: 3rem 17% 2rem 12%;
}

.container-index .right-panel {
	grid-column: 2 / 3;
	grid-row: 1 / 3;
	justify-content: center;
	padding: 3rem 12% 3rem 17%;
}

.container-background {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	/* min-height: 1050px; */
	min-height: 100vh;
	/* height: 100%; */
	overflow: hidden;
	/* pointer-events: none; */
}

.container-background:before {
	position: absolute;
	content: "";
	top: -10%;
	right: 48%;
	width: 4000px;
	height: 4000px;
	transform: translateY(-50%);
	border-radius: 50%;
	background-image: linear-gradient(
		-45deg,
		var(--color-primary),
		var(--color-tertiary)
	);
	z-index: -1;
	transition: 1s ease-in-out;
	overflow: hidden;
	box-shadow: var(--box-shadow);
}

.container-question-page.edit-mode .container-question-edit {
	display: block;
}

.container-question-page .container-question {
	display: block;
}

@media (max-width: 768px) {
	.container-index {
		grid-template-columns: 1fr;
		min-height: 500px;
		height: 100vh;
	}

	.container-index h2 {
		font-size: 1.9rem;
	}
	.container-introduction h2 {
		font-size: 2.3rem;
	}
	.container-index p {
		font-size: 1rem;
	}
	.container-index .button-accent {
		font-size: 1rem;
	}
	.container-index h3 {
		font-size: 1.2rem;
	}
	.container-index .left-panel {
		padding: 2rem 0.5rem;
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		min-height: 220px;
		margin-top: 30px;
	}
	.container-index .right-panel {
		padding: 2rem 0.5rem;
		grid-column: 1 / 2;
		grid-row: 2 / 3;
		justify-content: start;
	}

	.container-introduction .image img {
		max-width: 40%;
		position: absolute;
		top: 50%;
		right: 0%;
		bottom: initial;
		transform: #{"translateY(min(-42vh, -210px))"};
	}
	.container-introduction .content {
		max-width: 60%;
		position: absolute;
		left: 0;
		top: 50%;
		bottom: initial;
		transform: #{"translateY(min(-42vh, -210px))"};
	}

	.container-background:before {
		left: -20%;
		bottom: initial;
		top: #{"calc(-4000px + max(calc(200px + 20%), 300px))"};
		transform: translateX(-50%);
		/* top: -100%; */
		right: initial;
	}
}

@media (max-width: 592px) {
	.container-index .image {
		display: none;
	}

	.container-introduction .content {
		width: 100%;
		max-width: 100%;
		position: relative;
		top: initial;
		left: initial;
		transform: initial;
		bottom: initial;
		right: initial;
	}
}

@keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to {
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to {
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-moz-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to {
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to {
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

// .stars-container {
// 	position: relative;
// 	width: 100%;
// 	height: 100%;
// 	overflow: hidden;
// 	min-height: max(100vh, 900px);
// 	display: flex;
// 	flex-grow: 1;
// pointer-events: none;

.stars {
	background: black url("../public/images/stars.webp") repeat;
	position: fixed;
	background-position: center;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	z-index: -2;
}

.twinkling {
	width: 10000px;
	height: 100%;
	background: transparent url("../public/images/twinkling.webp") repeat;
	background-size: 1000px 1000px;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -2;

	-moz-animation: move-background 70s linear infinite;
	-ms-animation: move-background 70s linear infinite;
	-o-animation: move-background 70s linear infinite;
	-webkit-animation: move-background 70s linear infinite;
	animation: move-background 70s linear infinite;
}
// }
/*
    Add Question Page
*/

.add-question-button-container {
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
}

.latex-instructions-container,
#toggle-latex-instructions-button {
	margin-left: 1rem;
}

/* 
    All Courses
*/

.course-level-list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1rem;

	&__item {
		width: 100%;

		&__title {
			margin-top: 0;
		}
	}
}
