{% extends "layouts/base.html" %}

{% block title %}400 - Bad Request{% endblock %}

{% block body %}
<main>
    <section class="p-3 error-container container-lg">
        <div class="background-card">

            <h1 class="m-4 text-center">Bad Request</h1>
            <p class="text-center">The server received a bad request. If you think this is an error, consider contacting
                <a class="font-italic" href="mailto:sirius.cosmicweb@gmail.com">sirius.cosmicweb@gmail.com</a> so we can
                resolve the issue!
        </div>
    </section>
</main>
{% endblock %}