{% extends "layouts/base.html" %}

{% block title %}404 - Page Not Found{% endblock %}

{% block body %}
<main>
    <section class="p-3 error-container container-lg">
        <div class="background-card">

            <h1 class="m-4 text-center">Page Not Found</h1>
            <p class="text-center">The page you tried to access does not exist. If you think this page should be
                available,
                but
                is not, consider contacting <a class="font-italic"
                    href="mailto:sirius.cosmicweb@gmail.com">sirius.cosmicweb@gmail.com</a> so we can resolve the issue!
                When
                you arrived here from an external link, contact that website's owner instead.</p>
        </div>
    </section>
</main>
{% endblock %}