{% extends "base.html" %}

{% block title %}500 - Internal Server Error{% endblock %}
{% block body %}

<main>
    <section class="p-3 error-container container-lg">
        <div class="background-card">

            <h1 class="m-4 text-center">Internal Server Error</h2>
                <p class="text-center">Oops! Something went wrong on our end.` If the error persists, consider
                    contacting <a class="font-italic"
                        href="mailto:sirius.cosmicweb@gmail.com">sirius.cosmicweb@gmail.com</a> so we
                    can
                    resolve the issue!</p>
        </div>
    </section>
</main>

{% endblock %}