venv/
nebula-venv/
.env/
nebulaenv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
node_modules/
cypress/videos/
htmlcov/
yarn.lock
settings.json

nebula/static/

dist/
build/
*.egg-info/

*.db
*.mp4
