venv/
nebula-venv/
.env/
nebulaenv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
coverage/
node_modules/
cypress/videos/
htmlcov/
yarn.lock
settings.json
.env

nebula/static/

docs/.vitepress/cache/
dist/
build/
*.egg-info/

*.db
*.mp4
