venv/
nebula-venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
node_modules/
cypress/videos/
htmlcov/
package.json
yarn.lock
package-lock.json
settings.json

nebula/static/css/

dist/
build/
*.egg-info/

*.db
*.mp4