/*
    Question Page
*/

@use "../abstracts/mixins" as *;

.container-question-page {
	@include mq(md) {
		display: grid;
		grid-template-columns: 3fr minmax(240px, 1fr);

		gap: 1.5rem;
	}
}

.left-panel {
	margin-bottom: 1.5rem;
}

.unapproved-message {
	margin-bottom: 1.5rem;

	&__text {
		font-size: 1.3rem;
		font-weight: 700;
	}
}

.info-bar {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
	justify-content: center;

	.path-container {
		margin-bottom: 0;
	}

	@include mq(sm) {
		flex-direction: row;
		align-items: baseline;
		justify-content: space-between;
	}

	.subject-tags {
		flex: 1 0 content;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		@include mq(sm) {
			justify-content: flex-end;
		}
		flex-wrap: wrap;
		gap: 1rem;
	}
}

#comment-submit-button {
	margin-inline-start: 0.5rem;
	max-height: 2.5rem;
	align-self: flex-end;
}

.container-question-info {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
}

.question-info {
	display: flex;
	flex-direction: row;
	color: var(--color-text-secondary);
}

.question-comment {
	margin-top: 0.5rem;
}

.question-new-comment {
	animation: new-element 2s ease-in-out;
	-webkit-animation: new-element 2s ease-in-out;
	-moz-animation: new-element 2s ease-in-out;
	-ms-animation: new-element 2s ease-in-out;
	-o-animation: new-element 2s ease-in-out;
}

@keyframes new-element {
	0% {
		background-color: var(--color-background-secondary);
	}
	100% {
		background-color: transparent;
	}
}

.question-comments-content {
	margin-top: 1rem;
}

.question-answer {
	margin-top: 0.5rem;
	background-color: var(--color-background-secondary);
	border-radius: 0.5rem;

	.col-left {
		width: 75%;
	}

	.answer-content {
		p {
			margin-top: 0.2rem;
			font-size: 1rem;
			font-weight: 200;
		}
	}

	.answer-sources {
		margin-block-start: 0.5rem;

		a {
			padding-block: 0;
			font-size: 0.875rem;
		}
	}
}
@media (max-width: 991px) {
	.container-question-info {
		flex-direction: column;
		align-items: flex-start;
	}

	.question-answer {
		flex-direction: column;
		margin-bottom: 0.5rem;
	}
}
