{% macro question_view(question) -%}
<div class="question-list-item">
    <div class="question-list-item__header">
        <div class="question-list-item__header__username">
            <a href="{{ url_for('questions.questions', filter_by=question.user.username) }}">{{
                question.user.username }}</a>
        </div>
        <div class="question-list-item__header__subject-tags">
            {% for subject_tag in question.subject_tags %}
            <a class="subject-tag"
                href="{{ url_for('questions.questions', filter_by=subject_tag.name) }}">{{
                subject_tag.name }}</a>
            {% endfor %}
        </div>
        <div class="question-list-item__header__course">
            <a href="{{ url_for('questions.questions', filter_by=question.course.name) }}">{{
                question.course.name }}</a>
        </div>
    </div>

    <div class="question-list-item__body">
        <div class="question-list-item__body__title">
            {{ question.title }}
        </div>

        <div class="question-list-item__body__posted-at">
            {{ pretty_date(question.created_at) }}
        </div>

    </div>

    <div class="question-list-item__footer">
        <div class="question-list-item__footer__item">
            {{ question.answers|length }}
            {% if question.answers|length == 1 %}
            Answer
            {% else %}
            Answers
            {% endif %}
        </div>
        <div class="question-list-item__footer__item">
            {{ question.comments|length }}
            {% if question.comments|length == 1 %}
            Comment
            {% else %}
            Comments
            {% endif %}
        </div>
    </div>
</div>
{% endmacro %}