{% macro vite_script(source) -%}
{% if development %}
<script type="module" src="{{'http://localhost:5173/nebula/src/' + source }}"></script>
{% else %}
<script type="module"
    src="{{ url_for('static', filename=(manifest['nebula/src/' + source]['file'])) }}"></script>

{% if manifest['nebula/src/' + source]['css'] %}
{% for css in manifest['nebula/src/' + source]['css'] %}
<link rel="stylesheet" href="{{ url_for('static', filename=css) }}">
{% endfor %}
{% endif %}
{% endif %}
{% endmacro %}

{% macro vite_style(source) -%}
{% if development %}
<link rel="stylesheet" href={{'http://localhost:5173/nebula/src/' + source}}>
{% else %}
<link rel="stylesheet"
    href="{{ url_for('static', filename=(manifest['nebula/src/' + source]['file'])) }}">
{% endif %}
{% endmacro %}