@use "../fonts/fonts.scss";
@use "colors";

$font-sizes: (
	xxs: 0.625rem,
	xs: 0.75rem,
	sm: 0.875rem,
	md: 1rem,
	lg: 1.125rem,
	xl: 1.25rem,
	xxl: 1.5rem,
	xxxl: 1.75rem,
	xxxxl: 2rem,
);

body {
	font-family: "Lato", "Roboto", "Arial", sans-serif;
	font-weight: 300;
	color: var(--color-text-primary);
}

h1,
h2,
h3 {
	font-weight: 400;
	font-family: "Poppins", "Roboto", "Arial", sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

h1 {
	margin-top: 0px;
	font-size: 2.7rem;
	margin: 1rem 0px 1rem 0px;
	letter-spacing: -0.04rem;
}

h2 {
	font-size: 1.7rem;
	margin: 0px 0px 1rem 0px;
	letter-spacing: -0.04rem;
}

h3 {
	/* Tertiary titles */
	margin: 1.4rem 0px 0.5rem 0px;
	color: var(--color-text-secondary);
	font-size: 1rem;
	letter-spacing: 0.04rem;
}

h4 {
	/* Quaternary titles */
	margin: 1rem 0px 0.5rem 0px;
	font-size: 1rem;
	letter-spacing: 0.04rem;
	font-family: "lato", "Robot", "Arial", sans-serif;
}

.text-primary {
	color: var(--color-text-primary) !important;
}

.text-secondary {
	color: var(--color-text-secondary) !important;
}

.text-tertiary {
	color: var(--color-text-tertiary) !important;
}

.text-accent {
	color: var(--color-accent) !important;
}

p {
	/* General Text */
	margin: 0 0 0.5rem 0;
	font-size: 0.8125rem;
	font-weight: 400;
	letter-spacing: 0.04rem;
	line-height: 1.25rem;
	word-wrap: break-word;
}

p:last-child {
	margin-bottom: 0 !important;
}

.small-accent {
	font-family: "PT Sans", sans-serif;
	font-weight: 400;
	font-size: 0.875rem;
	color: var(--color-accent);
}
