{% extends "dashboard/base.html" %}

{% block content %}

<div class="summary-cards-container">
    <div class="summary-card">
        <div class="summary-card__title">
            <span class="summary-card__title__text">user questions</span>
        </div>
        <div class="summary-card__value">
            <span class="summary-card__value__text">{{ questions|count }}</span>
        </div>

        <div class="summary-card__bar">
            <div class="summary-card__bar__progress"
                style="--progress: {{ reviewed_questions / (questions|length) * 100 }}%;">
            </div>
        </div>
        <div class="summary-card__secondary-info">
            <span class="summary-card__secondary-info__text">User Questions
                Reviewed</span>

        </div>
        <div class="summary-card__secondary-info__value">
            <span class="summary-card__secondary-info__value__text">{{
                reviewed_questions }}</span>
        </div>
    </div>

    <div class="summary-card">
        <div class="summary-card__title">
            <span class="summary-card__title__text">user answers</span>
        </div>
        <div class="summary-card__value">
            <span class="summary-card__value__text">{{ answers}}</span>
        </div>

        <div class="summary-card__pie">
            <div class="summary-card__pie__progress" style="--progress: {{ answered_questions / answers * 100 }}%">
            </div>
        </div>
        <div class="summary-card__secondary-info">
            <span class="summary-card__secondary-info__text">User Questions
                Answer Rate</span>

        </div>
        <div class="summary-card__secondary-info__value">
            <span class="summary-card__secondary-info__value__text"> {{
                (answered_questions / answers * 100)|round|int }}%</span>
        </div>
    </div>

</div>

<div class="recent-questions-container background-card">
    <div class=" recent-questions__title">recent user questions</div>
    {% for question in questions[-5:]|reverse %}
    {{ dashboard_question_view(question) }}
    {% endfor %}
</div>


{% endblock content %}