/*


*/

/* TEMPORARY */

.filler {
  display: block;
  width: auto;
  height: 200px;
  margin: 8px 0 8px 0;
  background: #F0F0F0;
  width: calc(1/2 * 100vw - 2 * 36px);
}

/* Layout Main */

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0; 
  background: #FAFAFA; /*url(../images/heic1517a.jpg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #000;

  overflow-x: hidden;
}

main {
  /* display: inline-block; */
  /* margin: 100px 16px 16px calc(16px + 24px + 16px); */
  /* max-width: 640px; */
  min-height: 35vh;
  max-height: 100%;
}

/* @media (min-width: 800px) {
  main {
    width: 640px;
    margin: 100px 16px 16px 16px;
  }
} */

/* @media (min-width: 1439px) {
  main {
    width: calc(1/2*100vw);
    }
} */

/* Back arrow */

.back-arrow{
  position: absolute;
  top: 16px;
  left: 16px;
  color: #000;
  opacity: .87;
}

.back-arrow a{
  color: #000;
}



/* Header */

header {
  position: absolute;
  display: flex;

  height: 100px;
  width: 100%;

  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}


header #logo {
  height: 56px;
  margin: 24px 24px 48px 48px;;
}

/* Typography */

h1 { /* Main titles */
  margin: 16px 0px 16px 0px;
  opacity: .87;
  font-family: 'Roboto Mono', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: -0.04rem;
}

h2 { /* Secondary titles */
  margin: 0px 0px 16px 0px;
  opacity: .87;
  font-family: 'Roboto', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.04rem;
}

h3 { /* Tertiary titles */
  margin: 16px 0px 8px 0px;
  opacity: .67;
  font-family: 'Roboto', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.04rem;
}

p { /* General Text */
  margin: 0 0 8px 0;
  opacity: .87;
  font-family: 'Roboto', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.04rem;
  line-height: 1.25rem;
}

p:last-child { margin-bottom: 0 !important}

p a,
.inline-link { /* inline links */
  color: rgb(0, 156, 239);

  opacity: .87;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.04rem;
  line-height: 1.25rem;

  -webkit-transition: opacity .1s; /* Safari */
  transition: opacity .1s;
}

p a:hover {
  opacity: .67;
}

ol {
  margin: 0 0 0px 0;
  padding-left: 16px;
  opacity: .87;
  font-family: 'Roboto', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.04rem;
  line-height: 1.25rem;
}

li {
  font-family: 'Roboto', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
  font-weight: 400;
}

.code {
  opacity: .87;
  font-family: 'Roboto Mono', monospace;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.04rem;
  line-height: 1.25rem;

  background-color: #F0F0F0;
  border-radius: 4px;
}

.code::before {
  content: '"';
}
.code::after {
  content: '"';
}

.intro {
  opacity: .67;
}

.caption {
  margin: 8px 0 8px 0;
  opacity: .67;
  font-family: 'Roboto', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.04rem;
  line-height: 1.25rem;
}

.imagecite {
  margin: 8px 0 8px 0;
  opacity: .67;
  font-family: 'Roboto', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 9px;
  font-weight: 400;
  letter-spacing: 0.04rem;
  line-height: 1.25rem;
}

.biglinkbox {
  margin-top: 16px;
  margin-bottom: 16px;
  display: inline-flex;
  flex-direction: row;
  margin-left: -16px;
}

.biglinkbox:last-child {
  margin-bottom: 0;
}

.biglink {
  margin-left: 16px;
  text-decoration: none;

}

.biglink div {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow:0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  -webkit-transition: background-color .15s; /* For Safari 3.1 to 6.0 */
  transition: background-color .15s;

  background-color: #FFF;
}

.biglink:hover div {
  background-color: rgb(0, 156, 239, .3);
}

.biglink img {
  height: 32px!important;
  width: 32px!important;
}

.biglink span {
  padding: 11px;
  color: #000;
  opacity: .87;
  font-family: 'Roboto', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.04rem;
}

/* Study */

.study {
  padding-left: 24px;
  border-left: rgb(0, 0, 0, .87) solid 8px;
  margin-bottom: 25px;
}

.study:last-child {
  margin-bottom: 0;
}

.year {
  -webkit-transition: opacity .15s; /* For Safari 3.1 to 6.0 */
  transition: opacity .15s;
}

.yearlink:last-child .year {
  margin-bottom: 0;
}

.yearlink {
  text-decoration: none;
  color: #000;
  opacity: .87;
}

.yearlink:hover .year {
  opacity: .67;
}





/* Section */

section {
  /* display: flex; */
  text-align: left;
  flex-direction: column;
  justify-content: left;
  background-color: #FFF;
  color: #000;
  border-radius: 4px;
  box-shadow:0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  border-radius: 2px;
  padding: 25px;
  margin-bottom: 16px;
}

section:first-child {
}

section:last-child {
  margin-bottom: 25px !important;
}
.title-bar {
  position: relative;
  display: block;
  height: 1em;
}
.section-title {
  margin-inline-start: 1.25em;
  top: 50%;
  position: absolute;
}

.section-back-arrow{
  top: 50%;
  position: absolute;
  justify-content: center;
  float: left;
  /* top: 16px; */
  /* left: 16px; */
  color: #000;
  opacity: .87;
}

.section-back-arrow a{
  color: #000;
}
.divider {
  display: block;
  opacity: .10;
  background-color: #000;
  height: 1px;
  width: 100%;
}

/* Question */

.question h1 {
  margin: 0 0 16px 0;
  opacity: .87;
  font-family: 'Roboto', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.04rem;
  line-height: 1.25rem;
}

.question .metadata {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.question .info {
  margin: 0 0 0 0;
  opacity: .67;
  font-family: 'Roboto', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.04rem;
  line-height: 1.25rem;
}

.question .expand {
  text-align: center;
  padding: 4px;
  -webkit-transition: background-color .1s; /* Safari */
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
}

.question .answertext {
  overflow: hidden;
  max-height: 0px;
  -webkit-transition: max-height .3s; /* Safari */
  transition: max-height .3s;
}

.question .answertext:hover {
  max-height: 2000px;
}

.question .expand:hover {
  background-color: #F0F0F0;
}

.question .source {
  margin-top: 16px;
}


/* Image Elements */

.centeredimage {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.centeredimage:last-child {
  margin-bottom: 0;
}

.centeredimage .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  min-width: 200px;
}

.centeredimage .container img {
  width: auto;
}

.centeredimage .container .caption {
  margin-top: 16px;
}

/* Citations */
.citation {
  display: flex;
  flex-direction: column;

  margin-bottom: 25px;
}

.citation:last-child {
  margin-bottom: 0;
}

.citation .title {
  margin: 0 0 8px 0;
  opacity: .87;
  font-family: 'Roboto', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.04rem;
  line-height: 1.25rem;
}

.citation .authors {
  margin: 0 0 8px 0;
  opacity: .67;
  font-family: 'Roboto', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.04rem;
  line-height: 1.25rem;
}

.citation .journalinfo {
  margin: 0 0 0px 0;
  font-family: 'Roboto', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  letter-spacing: 0.04rem;
  line-height: 1.25rem;
}

.citation .journal {
  opacity: .87;
  font-weight: 500;
}

.citation .volume {
  opacity: .67;
  font-weight: 400;
}

.citation .issue {
  opacity: .67;
  font-weight: 400;
}

.citation .pages {
  opacity: .67;
  font-weight: 400;
}

.citation .date {
  margin: 0 0 12px 0;
  opacity: .67;
  font-family: 'Roboto', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.04rem;
  line-height: 1.25rem;
}

.citation .link {
  margin: 0 0 12px 8px;
  opacity: .87;
  font-family: 'Roboto', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.04rem;
  line-height: 1.25rem;

  color: rgb(0, 156, 239);
}

.citation a { /* inline links */
  opacity: .87;
  text-decoration: none;

  -webkit-transition: opacity .1s; /* Safari */
  transition: opacity .1s;
}

.citation a:visited { /* inline links */
  opacity: .87;
  text-decoration: none;

  -webkit-transition: opacity .1s; /* Safari */
  transition: opacity .1s;
}

.citation a:hover {
  opacity: .67;
}

/* Cards */

.card {
  width: auto;
  height: 176px;

  display: flex;
  align-items: flex-end;
  position: relative;

  margin-bottom: 25px;
  box-shadow:0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  -webkit-transition: box-shadow .15s; /* For Safari 3.1 to 6.0 */
  transition: box-shadow .15s;

  text-decoration: none;
  background-color: #FFF;
}

.card:hover {
  box-shadow:0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12)
}

.card:last-child {
  margin-bottom: 0;
}

.card h1 {
  font-family: 'Roboto', sans-serif;
  color: #FFF;

  text-decoration: none;
  font-size:24px;
  font-weight:300;
  padding: 16px 48px 16px 16px;
  margin-bottom: 0;
}

.card i {
  align-self: center;
  left: 16px;
}

/* Contact */

#contact .item {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

#contact .item:last-child {
  margin-bottom: 0;
}

#contact .icon {
  margin: 8px;
  color: #000;
  opacity: .87;
}

#contact .text {
  margin-left: 25px;
}

#contact .big {
  margin-top: 8px;
}

#contact .small {
  display: flex;
  align-self: center;
  align-items: center;

}


/* Footer */

footer {
  background-color: #212121;

  display: flex;
  height: 75px;
  width: 100vw;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 25px;
}

footer p {
  color: #FFF;
  opacity: .87;
  font-size: 10px;
}

footer a {
  height: 24px;
  position: relative;

  text-decoration: none;
  color: #FFF;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer a span {
  position: absolute;
  bottom: 40px;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.87);
  border-radius: 4px;

  font-family: 'Roboto';
  overflow: hidden;
  width: auto;

  color: #FFF;
  opacity: 0;
  font-size: 10px;

  -webkit-transition: opacity .15s; /* For Safari 3.1 to 6.0 */
  transition: opacity .15s;
}

footer a:hover span {
 opacity: .87;
}

footer a i {
  color: #FFF;
  opacity: .67;
  font-size: 16px;
  margin-bottom: 8px;

  -webkit-transition: opacity .15s; /* For Safari 3.1 to 6.0 */
  transition: opacity .15s;
}

footer a:hover i {
  opacity: .87;
}

/* List */

.list a {
  display: flex;
  position: relative;
  width: auto;
  padding: 14px 48px 14px 14px;


  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;

  font-weight: 500;
  font-weight: 400px;
  text-decoration: none;

  -webkit-transition: opacity .1s, background-color .1s; /* Safari */
  transition: opacity .1s, background-color .1s;
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
}
.list span {
  opacity: .40;
}

.list a:hover .title {
  opacity: .67;
}

.list a:hover .time {
  opacity: .67;
}

.list a:hover {
  background-color: rgb(0, 0, 0, 0.04);
}

.list a:last-child {
}

.list .title {
  min-width: 200px;
  max-width: calc( 0.4 * 100%);
}

.list .time {
  position: absolute;
  right: 16px;
}

.list .descript {
  pointer-events: none;
  z-index: 2;
  opacity: 0;
  position: absolute;
  bottom: -96px;
  right: 0px;
  box-shadow:0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  border-radius: 0 0 4px 4px;
  display: flex;
  flex-direction: column;
  -webkit-transition: opacity .1s;
  transition: opacity .1s;
  background-color: #FFF;

}

.list a:hover .descript {
  opacity: 1;

}

.list .descript span {
  opacity: .67;
  display: block;
  padding: 16px;
  margin-bottom: 16px;
}

.list .descript .subject {
  margin: 0;
}

.list .descript .type {
  margin: 0;
}

.list div {
  display: flex;
  position: relative;
  width: auto;

  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400px;
  text-decoration: none;
}

.list div span {
  font-weight: 500;
  opacity: .87;
  padding: 14px 0 14px 14px;
}


#submit {
  display: flex;
  flex-direction: column;
}

#submit h1 {
  margin-bottom: 16px;
}

#submit h3 {
  margin-top: 16px;
  margin-bottom: 8px;
  opacity: .87;
}

#submit p {
  font-size: 12px;
  opacity: .67;
  margin-bottom: 16px;
}

#submit form {
  display: flex;
  flex-direction: column;
}

#submit .required::after {
  content: '*';
  color: #F44336;
}

#submit .requiredtext {
  color: #F44336;
  font-size: 12px;
  font-family: 'Roboto';
}
/*
input {
  padding: 8px;
  margin-bottom: 24px;
}

form label {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400px;
  text-decoration: none;
  opacity: .67;
}

form div {
  display: block;
  position: relative;
  width: 100%;
  padding-right: 25px;
}

form label[type=text] {
  font-size: 12px;
  position: absolute;
  top: 12px;
  left: 16px;
}

input[type=text] {
  font-family: 'Roboto';
  font-size: 13px;
  opacity: .87;
  padding: 32px 16px 12px 16px;
  width: calc(100% - 32px);
  border: 0;
  background-color: #EEEEEE;
  border-radius: 4px;

  -webkit-transition: ;
  transition: ;
}

input[type=text]:focus {
  outline: none;
  border-radius: 4px 4px 0 0;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(0, 156, 239);
  box-shadow: 0;
}

form label[type=text] {
  font-size: 12px;
  position: absolute;
  top: 12px;
  left: 16px;
  z-index: 3;
} */

form .blocker{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 1;
  width: calc(100% - 32px - 24px);
  background-color: #EEEEEE;
  padding: 12px;
  height: 12px;
  padding-left: 16px;
  padding-bottom: 8px;
  border-radius: 4px;
}

textarea {
  font-family: 'Roboto Mono';
  height: 200px;
  font-size: 13px;
  opacity: .87;
  margin-bottom: 16px;
  padding: 16px;
  width: calc(100% - 36px);
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 4px;

  /* -webkit-transition: ; /* Safari */
  /* transition: ; */ 
}

textarea:focus {
  outline: none;
  border-radius: 4px 4px 0 0;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(0, 156, 239);
  box-shadow: 0;
}

form label[type=text]:focus {
  color: rgb(0, 156, 239);
}



/* Checkbox by Hannes Kamecke*/

.md-checkbox {
  position: relative;
  margin-bottom: 24px;
  text-align: left;
}

.md-checkbox label {
  opacity: .87;
  font-size: 14px;

  cursor: pointer;
  display: inline;
  line-height: 20px;
  vertical-align: top;
  clear: both;
  padding-left: 1px;
}

.md-checkbox label:not(:empty) {
  padding-left: 0.75em;
}

.md-checkbox label:before, .md-checkbox label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}
.md-checkbox label:before {
  width: 1.25em;
  height: 1.25em;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.54);
  border-radius: 0.125em;
  cursor: pointer;
  transition: background .3s;
}
.md-checkbox input[type="checkbox"] {
  outline: 0;
  visibility: hidden;
  width: 1.25em;
  margin: 0;
  display: block;
  float: left;
  font-size: inherit;
}
.md-checkbox input[type="checkbox"]:checked + label:before {
  background: rgb(0, 156, 239);
  border: none;
}
.md-checkbox input[type="checkbox"]:checked + label:after {
  transform: translate(0.25em, 0.3365384615em) rotate(-45deg);
  width: 0.75em;
  height: 0.375em;
  border: 0.125em solid #fff;
  border-top-style: none;
  border-right-style: none;
}
.md-checkbox input[type="checkbox"]:disabled + label:before {
  border-color: rgba(0, 0, 0, 0.26);
}
.md-checkbox input[type="checkbox"]:disabled:checked + label:before {
  background: rgba(0, 0, 0, 0.26);
}

.md-checkbox *, .md-checkbox *:before, .md-checkbox *:after {
  box-sizing: border-box;
}

/* END OF CHECKBOX */

/* CUSTOM TEXTBOX by Chris Sevilleja */

/* form starting stylings ------------------------------- */

.group 			  {
  position:relative;
  margin-top: 12px;
  margin-bottom: 16px;
}

.helpertext {
  color:#000;
  opacity: .56;
  font-size:12px;
  height: 36px;
  margin: -12px 4px 4px 0px;
  font-family: 'Roboto';
  font-weight:normal;
  pointer-events:none;
}

input 				{
  font-family: 'Roboto';
  font-size:16px;
  color: rgba(0, 0, 0, 0.87);
  padding:8px 8px 8px 0px;
  display:block;
  width:calc(640px - 50px - 16px);
  border:none;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#000;
  opacity: .67;
  font-size:14px;
  font-family: 'Roboto';
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:0px;
  top:-14px;

}

/* active state
input:focus ~ label, input:valid ~ label 		{
  top:-14px;
  font-size:14px;
  color:#000;
  opacity: .67;
} */

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:calc(640px - 50px); }
.bar:before, .bar:after 	{
  content:'';
  height:1px;
  width:0;
  bottom:0;
  position:absolute;
  background:rgb(0, 156, 239);
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:rgb(0, 156, 239); }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:rgb(0, 156, 239); }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:rgb(0, 156, 239); }
  to 	{ width:0; background:transparent; }
}

/* END OF TEXTBOX*/

/* SELECT BY VIKTOR MEYER*/

select {
  font-family: inherit;
  background-color: transparent;
  width: calc(640px - 50px);
  padding: 8px 8px 8px 0px;;
  font-size: 16px;
  color: rgba(0,0,0, 0.67);
  border: none;
  border-bottom: 1px solid rgba(0,0,0, 0.12);
}

/* Remove focus */
select:focus {
  outline: none;
}

select:valid {
  color: rgba(0,0,0, 0.87);
}


/* Hide label */
.mdl-selectfield label {
  color:#000;
  opacity: .67;
  font-family: 'Roboto';
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:0px;
  top:-14px;
  font-size:14px;
}

/* Use custom arrow */
.mdl-selectfield select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.mdl-selectfield {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  position: relative;
}
.mdl-selectfield:after {
  position: absolute;
  top: 0.75em;
  right: 0.5em;
  /* Styling the down arrow */
  width: 0;
  height: 0;
  padding: 0;
  content: "";
  border-left: 0.25em solid transparent;
  border-right: 0.25em solid transparent;
  border-top: 0.375em solid rgba(0,0,0, 0.12);
  pointer-events: none;
}

/* END OF SELECT */

form .box {
  height: 0;
  overflow: hidden;

  padding: 0 15px 0 15px;
  border: 0px;
  border-radius: 4px;

  margin-bottom: 0px;
  width: calc(100% - 32px);

  -webkit-transition: height .3s, padding .3s, border .1s, margin .3s; /* Safari */
  transition: height .3s, padding .3s, border .1s, margin .3s;
}

form .box textarea {
  width: calc(100% - 32px);
}

form .box textarea:last-child {
  margin-bottom: 0;
}

form .box input[type=text] {
  width: calc(100% - 32px);
}


form input[type=submit] {
  background-color: #FFF;
  height: 36px;
  min-width: 64px;
  max-width: 120px;
  margin-right: 16px;

  border: 1px solid rgba(0,0,0,0.1);

  color: #000;
  opacity: .67;
  padding: 6px 16px 6px 6px;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;

  -webkit-transition: background-color .1s, opacity .1s, box-shadow .1s; /* Safari */
  transition: background-color .1s, opacity .1s, box-shadow .1s;
}

.submitter {
  display: flex;
}

form input[type=submit]:hover {
  background-color: rgb(0, 156, 239, 0.67);
  box-shadow:0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
}

.preview {
  padding: 16px;
  margin-bottom: 16px;
  background-color: rgba(244, 67, 54, 0.2);
}

.preview section:nth-child(2) {
  margin-top: 16px !important;
}

.preview section:last-child {
  margin-bottom: 0 !important;
}

.preview .previewtext {
  color: rgba(244, 67, 54, 0.67);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  padding-bottom: 16px;
}
