/*
    Color Palette
*/

.bg-blue {
    background-color: #2872c2 !important;
}



/* 
    General Settings 
*/

html {
    color: #3e3e3e;
    font-size: 100%;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0 0 15rem 0;
    /* background: transparent; */
}

/* 
    Typography 
*/

body {
    font-family: 'Lato', 'Roboto', 'Arial', sans-serif;
    font-weight: 300;
}

h1,
h2,
h3 {
    font-weight: 300;
}

.light {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
}

h1 {
    margin-top: 0px;
    font-size: 2.7rem;
    margin: 16px 0px 16px 0px;
    opacity: .87;
    font-family: 'Roboto Mono', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: -0.04rem;
}

h2 {
    font-size: 1.5rem;
    margin: 0px 0px 16px 0px;
    opacity: .87;
    font-family: 'Roboto', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: -0.04rem;
}

h3 {
    /* Tertiary titles */
    margin: 16px 0px 8px 0px;
    opacity: .67;
    font-family: 'Roboto', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.04rem;
}

p {
    /* General Text */
    margin: 0 0 8px 0;
    opacity: .87;
    font-family: 'Roboto', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.04rem;
    line-height: 1.25rem;
}

p:last-child {
    margin-bottom: 0 !important
}

p a,
.inline-link {
    /* inline links */
    color: rgb(0, 156, 239);

    opacity: .87;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.04rem;
    line-height: 1.25rem;

    -webkit-transition: opacity .1s;
    /* Safari */
    transition: opacity .1s;
}

p a:hover,
p a:focus,
.inline-link:hover,
.inline-link:focus {
    opacity: .67;
}

/* 
    Layout
*/


/*
    Main 
*/

/*
    Header 
*/

header {
    margin-bottom: 2rem;
}

.main-title {
    /* font-size: 3rem; */
    margin-bottom: 1rem;
}

/* 
    Navigation
*/

.navbar-brand img,
.navbar-brand div {
    display: inline-block;
    /* margin-left: 10px; */
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
        margin-top: 0;
    }

    .navbar .nav-item:hover .dropdown-menu,
    .navbar .nav-item:focus .dropdown-menu {
        display: block;
    }

    .dropdown-menu li {
        position: relative;
    }

    .dropdown-menu .dropdown-submenu {
        display: none;
        position: absolute;
        right: 100%;
        top: 0px;
    }

    .dropdown-menu>li:hover>.dropdown-submenu,
    .dropdown-menu>li:focus>.dropdown-submenu {
        display: block;
    }

    /* rotate caret on hover */
    .dropdown-menu>li>a:hover:after,
    .dropdown-menu>li>a:focus:after {
        text-decoration: underline;
        transform: rotate(90deg);
    }

}

.navbar-brand div {
    vertical-align: middle;
}

.navbar-brand div p {
    margin-bottom: 0;
    font-size: 65%;
}

.navbar-brand img {
    max-height: 50px;
}

.dropdown-menu {
    border-radius: 0;
    border: 0 solid transparent;
    border-bottom: 2px solid #2872c2;
    padding: 0;
}

.dropdown-menu .active,
.dropdown-item:active {
    background-color: #d3d3d3;
    text-decoration: underline;
    color: inherit;
}

.dropdown-submenu {
    border-radius: 0;
    border: 0 solid transparent;
    border-bottom: 2px solid #2872c2;
    padding: 0;
   background-color: #fff; 
}

.dropdown-submenu li {
    list-style: none;
}

.dropdown-item {
    padding-top: 10px;
    padding-bottom: 10px;
    transition: background-color 0.15s;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #dfdfdf;
    color: #3e3e3e;
}

.site-name {
    font-size: 1.7rem;
    opacity: .87;
    font-family: 'Roboto Mono', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: -0.04rem;
}



.dropdown-menu .dropdown-submenu {
    display: none;
}

.nav-header {
    font-weight: 200;
    margin-left: 0.5em;
}



/*
    Footer 
*/

footer {
    padding: 1em 0;
    margin: 60px auto 0 auto;
    /* margin-top: 60px;
	margin-bottom: 0 !important; */
    background-color: var(--grey, #666666) !important;
    font-size: 90%;
    color: #fff !important;
    position: absolute;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
}

/*
    Reusables
*/

.row {
    margin-top: 30px;
}