<!DOCTYPE html>
<!--  UNFINISHED -->
<html lang="en" class="dark-mode">

<head>
    <title>
        {% block title %}NO TITLE{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content=" This is the Nebula Database by the Kapteyn Learning Community. It is a repository of user-submitted practice questions. ">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="icon" type="image/png"
        href="{{ url_for('static', filename='images/siriuswebheader.png') }}" />

    <!-- Load darkmode script first so it loads the fastest -->
    <script src="{{ url_for('static', filename='js/darkmode.js') }}"></script>

    <!-- Show loading animation while everything gets loaded -->
    <!-- <script src="{{ url_for('static', filename='js/pageloadanim.js') }}"></script> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous" />

    <!-- Google Fonts Includes -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400&display=swap"
        rel="stylesheet">
    <!-- Google Material Icon Font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

    <!-- GSAP ANIMATIONS-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>-->


    <!-- MathJax -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script src="{{ url_for('static', filename='js/mathjax-config.js') }}" defer></script>
    <script id="MathJax-script"
        src="https://cdn.jsdelivr.net/npm/mathjax@3.2.1/es5/tex-mml-chtml.js" defer></script>

    <!-- Markdown -->
    <script src="{{ url_for('static', filename='js/markdown-it.min.js') }}"></script>

    <!-- jquery -->

    <!-- VITE -->
    {% if development %}
    <script type="module" src="http://localhost:5173/@vite/client"></script>
    {% endif %}

    {% from "utilities/vite.html" import vite_script, vite_style with context %}
    {{ vite_style('scss/main.scss') }}



    {% block include_head %}{% endblock %}

</head>

{% macro nav_course_list_item(course) -%}
<li>
    <a {% if course.code in request.path %} class="dropdown-item active" {% else %}
        class="dropdown-item" {% endif %}
        href="{{ url_for('web.course.course', course_code=course.code, course_level_code = course.course_level.code)}}">{{
        course.name }}</a>
</li>
{%- endmacro %}
{% macro nav_course_level_list_item(course_level) -%}
<li class="caret-hover">
    <a {% if course_level.code in request.path %} class="dropdown-item dropdown-toggle active" {%
        else %} class="dropdown-item dropdown-toggle" {% endif %}
        href="{{ url_for('web.level.level', course_level_code=course_level.code)}}">{{
        course_level.name }}</a>
    <ul class="dropdown-submenu">
        {% for course in course_level.courses %}{{ nav_course_list_item(course) }}{% endfor %}
    </ul>
</li>
{%- endmacro %}

<body>
    {% if get_flashed_messages() %}
    <div class="alerts-container">

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-dismissible alert__{{ category }} fade show" role="alert">
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

    </div>
    {% endif %}
    <header>
        <noscript>
            <div style="background-color: var(--color-background, #f5f5f5);
                            text-align: center;
                            color: var(--color-text-primary, #1e1e1e);">
                This site works best with JavaScript enabled. For the best experience, please enable
                it.
            </div>
        </noscript>


        <div class="notifications__list">
            <div class="notifications__list__header">
                <div class="notifications__list__header__title">
                    Notifications
                </div>
                <a href="#" class="notifications__list__header__read-all">Mark all as read</a>

            </div>
            {% if current_user.notifications|length > 0 %}
            {% for notification in current_user.notifications|reverse %}
            <div class="notifications__list__item
            {% if not notification.is_read %} unread {% endif %}">
                <div class="notifications__list__item__category {{ notification.category }}"></div>
                <div class="notifications__list__item__read"></div>
                <div class="notifications__list__item__content">
                    {{ notification.content }}
                </div>
                <div class="notifications__list__item__actions">
                    {% if notification.link %}
                    <a href="{{ notification.link }}">
                        {% if notification.link_text %}
                        {{ notification.link_text }}
                        {% else %}
                        View
                        {% endif %}
                    </a>
                    {% endif %}
                    <a type="submit"
                        class="button button-accent notifications__list__item__actions__read"
                        data-uuid="{{ notification.uuid }}" {% if notification.is_read %}
                        data-read="true" {% else %} data-read="false" {% endif %}>
                        Mark as read</a>
                    </form>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="notifications__list__no-notifications">
                <p>You have no notifications</p>
            </div>
            {% endif %}
        </div>
        <div class="nebula-nav">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container-lg">
                    <a class="navbar-brand" href="{{ url_for('web.main.index') }}">
                        <div>
                            <span class="site-name">Nebula</span>
                        </div>
                    </a>
                    <div class="persistent-nav-container">

                        <div class="dark-mode-toggle-container">
                            <a type="checkbox" name="toggle-dark-mode" id="dark-mode-toggler"
                                href="#" aria-label="Toggle dark mode" class="">
                                <svg class="dark-mode-icon" xmlns="http://www.w3.org/2000/svg"
                                    enable-background="new 0 0 24 24" height="24px"
                                    viewBox="0 0 24 24" width="24px" fill="currentcolor">
                                    <!-- <rect fill="none" height="24" width="24" /> -->
                                    <path
                                        d="M12,3c-4.97,0-9,4.03-9,9s4.03,9,9,9s9-4.03,9-9c0-0.46-0.04-0.92-0.1-1.36c-0.98,1.37-2.58,2.26-4.4,2.26 c-2.98,0-5.4-2.42-5.4-5.4c0-1.81,0.89-3.42,2.26-4.4C12.92,3.04,12.46,3,12,3L12,3z" />
                                </svg>
                                <svg class="light-mode-icon" xmlns="http://www.w3.org/2000/svg"
                                    enable-background="new 0 0 24 24" height="24px"
                                    viewBox="0 0 24 24" width="24px" fill="currentcolor">
                                    <!-- <rect fill="none" height="24" width="24" /> -->
                                    <path
                                        d="M12,7c-2.76,0-5,2.24-5,5s2.24,5,5,5s5-2.24,5-5S14.76,7,12,7L12,7z M2,13l2,0c0.55,0,1-0.45,1-1s-0.45-1-1-1l-2,0 c-0.55,0-1,0.45-1,1S1.45,13,2,13z M20,13l2,0c0.55,0,1-0.45,1-1s-0.45-1-1-1l-2,0c-0.55,0-1,0.45-1,1S19.45,13,20,13z M11,2v2 c0,0.55,0.45,1,1,1s1-0.45,1-1V2c0-0.55-0.45-1-1-1S11,1.45,11,2z M11,20v2c0,0.55,0.45,1,1,1s1-0.45,1-1v-2c0-0.55-0.45-1-1-1 C11.45,19,11,19.45,11,20z M5.99,4.58c-0.39-0.39-1.03-0.39-1.41,0c-0.39,0.39-0.39,1.03,0,1.41l1.06,1.06 c0.39,0.39,1.03,0.39,1.41,0s0.39-1.03,0-1.41L5.99,4.58z M18.36,16.95c-0.39-0.39-1.03-0.39-1.41,0c-0.39,0.39-0.39,1.03,0,1.41 l1.06,1.06c0.39,0.39,1.03,0.39,1.41,0c0.39-0.39,0.39-1.03,0-1.41L18.36,16.95z M19.42,5.99c0.39-0.39,0.39-1.03,0-1.41 c-0.39-0.39-1.03-0.39-1.41,0l-1.06,1.06c-0.39,0.39-0.39,1.03,0,1.41s1.03,0.39,1.41,0L19.42,5.99z M7.05,18.36 c0.39-0.39,0.39-1.03,0-1.41c-0.39-0.39-1.03-0.39-1.41,0l-1.06,1.06c-0.39,0.39-0.39,1.03,0,1.41s1.03,0.39,1.41,0L7.05,18.36z" />
                                </svg>
                            </a>
                        </div>

                        <!-- NOTIFICATIONS -->

                        {% if current_user.is_anonymous == false %}
                        {% set unread_notifications =
                        current_user.notifications|selectattr('is_read', "equalto",
                        false)|list|length %}
                        <div class="notifications js-only">
                            <a href="#"
                                class="notifications__toggle {% if unread_notifications != 0 %}unread{% endif %}"
                                data-unread-count="{{ unread_notifications }}">
                                {% if unread_notifications !=0 %}
                                <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"
                                    fill="currentcolor">
                                    <path
                                        d="M2 10Q2 7.8 2.888 5.838Q3.775 3.875 5.425 2.45L6.85 3.85Q5.5 5.025 4.75 6.612Q4 8.2 4 10ZM20 10Q20 8.2 19.25 6.612Q18.5 5.025 17.15 3.85L18.575 2.45Q20.225 3.875 21.113 5.838Q22 7.8 22 10ZM4 19V17H6V10Q6 7.925 7.25 6.312Q8.5 4.7 10.5 4.2V3.5Q10.5 2.875 10.938 2.438Q11.375 2 12 2Q12.625 2 13.062 2.438Q13.5 2.875 13.5 3.5V4.2Q15.5 4.7 16.75 6.312Q18 7.925 18 10V17H20V19ZM12 11.5Q12 11.5 12 11.5Q12 11.5 12 11.5Q12 11.5 12 11.5Q12 11.5 12 11.5ZM12 22Q11.175 22 10.588 21.413Q10 20.825 10 20H14Q14 20.825 13.413 21.413Q12.825 22 12 22ZM8 17H16V10Q16 8.35 14.825 7.175Q13.65 6 12 6Q10.35 6 9.175 7.175Q8 8.35 8 10Z" />
                                </svg>
                                {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"
                                    fill="currentcolor">
                                    <path
                                        d="M4 19V17H6V10Q6 7.925 7.25 6.312Q8.5 4.7 10.5 4.2V3.5Q10.5 2.875 10.938 2.438Q11.375 2 12 2Q12.625 2 13.062 2.438Q13.5 2.875 13.5 3.5V4.2Q15.5 4.7 16.75 6.312Q18 7.925 18 10V17H20V19ZM12 11.5Q12 11.5 12 11.5Q12 11.5 12 11.5Q12 11.5 12 11.5Q12 11.5 12 11.5ZM12 22Q11.175 22 10.588 21.413Q10 20.825 10 20H14Q14 20.825 13.413 21.413Q12.825 22 12 22ZM8 17H16V10Q16 8.35 14.825 7.175Q13.65 6 12 6Q10.35 6 9.175 7.175Q8 8.35 8 10Z" />
                                </svg>
                                {% endif %}
                            </a>

                        </div>
                        {% endif %}
                        <div class="nav-item dropdown">
                            <a {% if 'login' in request.path or 'register' in request.path
                                or 'profile' in request.path %}
                                class="nav-link dropdown-toggle account-management-dropdown active"
                                {% else %}
                                class="nav-link dropdown-toggle account-management-dropdown" {%
                                endif %} href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px"
                                    viewBox="0 0 24 24" width="24px" fill="currentcolor">
                                    <path d="M0 0h24v24H0z" fill="none" />
                                    <path
                                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z" />
                                </svg>
                                {% if current_user.is_anonymous == false %}
                                <span>
                                    {{ current_user.first_name }} {{ current_user.last_name }}
                                </span>
                                {% endif %}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right"
                                aria-labelledby="navbarDropdownMenuLink">
                                {% if current_user.is_anonymous == true %}
                                <li>
                                    <a {% if ('login' in request.path and request.args['register']
                                        !='True' ) %} class="dropdown-item active" {% else %}
                                        class="dropdown-item" {% endif %}
                                        href="{{ url_for('web.user.login_register', next=request.path) }}">Login</a>
                                </li>
                                <li>
                                    <a {% if request.args['register']=='True' or '/register' in
                                        request.path %} class="dropdown-item active" {% else %}
                                        class="dropdown-item" {% endif %}
                                        href="{{ url_for('web.user.login_register', register=true, next=request.path) }}">Register</a>
                                </li>


                                {% else %}
                                <li>
                                    <a {% if 'profile' in request.path %}
                                        class="dropdown-item active" {% else %}
                                        class="dropdown-item" {% endif %}
                                        href="{{ url_for('web.user.profile') }}">Profile</a>
                                    {% if current_user.access_level >= 2 %}
                                    <a class="dropdown-item"
                                        href="{{ url_for('web.dashboard.index') }}">Dashboard</a>
                                    {% endif %}
                                </li>
                                <li>
                                    <form action="{{ url_for('web.user.logout') }}" method="post">
                                        <input type="hidden" name="csrf_token"
                                            value="{{ csrf_token() }}" />
                                        <button class="dropdown-item" type="submit">Logout</button>
                                    </form>
                                </li>
                                {% endif %}

                            </ul>
                        </div>

                    </div>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarText" aria-controls="navbarText"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" width="24px"
                            viewbox="0 0 24 24" fill="currentcolor">
                            <path d="M3 18V16H21V18ZM3 13V11H21V13ZM3 8V6H21V8Z" />
                        </svg>
                    </button>
                    <div class="collapse navbar-collapse justify-content-start" id="navbarText">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a {% if request.path==url_for('web.main.index') %}
                                    class="nav-link active" {% else %} class="nav-link" {% endif %}
                                    href="{{ url_for('web.main.index') }}">Home</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a {% if '/bsc' in request.path or '/msc' in request.path %}
                                    class="nav-link dropdown-toggle active" {% else %}
                                    class="nav-link dropdown-toggle" {% endif %} href="#"
                                    id="navbarDropdownMenuLink" role="button"
                                    data-bs-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Courses
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li class="nav-header">Bachelor</li>
                                    {% for bachelor_level in nav['CourseLevels']['Bachelor'] %}{{
                                    nav_course_level_list_item(bachelor_level) }}{% endfor %}
                                    <li class="nav-header">Master</li>
                                    {% for master_level in nav['CourseLevels']['Master'] %}{{
                                    nav_course_level_list_item(master_level) }}{% endfor %}
                                </ul>
                            </li>

                            {% if not current_user.is_anonymous and current_user.access_level >= 2
                            %}
                            <li class="nav-item">
                                <a {% if request.path==url_for('web.add_question.add_question') %}
                                    class="nav-link active" {% else %} class="nav-link" {% endif %}
                                    href="{{ url_for('web.add_question.add_question')}}">Submit a
                                    question</a>
                            </li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>



    {% block body %}
    {% endblock body %}
    <footer class="footer">
        <p>
            &copy; {{ current_year }} - Sirius A
            <!-- Add some kind of dynamic year ? -->

        </p>
    </footer>

    <!-- CSRF TOKEN -->
    <script type="text/javascript">
        window.CSRF_TOKEN = "{{ csrf_token() }}";
    </script>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
        </script>
    <!--- Scripts -->
    <script src="{{ url_for('static', filename='js/navbar_submenu.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='js/purify.min.js') }}"></script>
    <script type="module" src="{{url_for('static', filename='js/notifications.js')}}"></script>
    <script defer type="module" src="{{url_for('static', filename='js/views.js')}}"></script>


    {% block include_js %}
    {% endblock include_js %}

</body>
<!-- <script src="{{ url_for('static', filename='js/stoppageloadanim.js') }}" defer></script> -->

</html>