/*
Color Palette
*/

:root {
	/*
    Nebula uses a dark and light color palette. The pallete is automatically set to the user's personal preference via javascript.
    When setting a color use var(--color-name) to set the color.

    To change the color palette, change the '--color-name-[dark or light]' color variables below.

    To add a color variable:
    Add the color to the light color to the light color palette, and the dark color to the dark color palette in the &.dark-mode section.
    */

	/*
    Global colors
    */

	--color-primary-base: #2872c2;
	--color-color-primary-l12: #4283c9;
	--color-primary-l24: #5c94d1;
	--color-primary-l36: #75a5d8;
	--color-primary-l48: #8fb6df;
	--color-primary-l60: #a9c7e7;
	--color-primary-l72: #c3d8ee;
	--color-primary-l84: #dde8f5;
	--color-primary-l96: #f6f9fd;

	--color-primary-d12: #2364ab;
	--color-primary-d24: #1e5793;
	--color-primary-d36: #1a497c;
	--color-primary-d48: #153b65;
	--color-primary-d60: #102e4e;
	--color-primary-d72: #0b2036;
	--color-primary-d84: #06121f;
	--color-primary-d96: #020508;
	--color-primary-d24: #1e5793;

	/*
    Light Theme color-scheme (Change colors for the light theme here)
    */

	--color-background: #f0f4f8;
	--color-background-secondary: #d9e2ec;
	--color-background-tertiary: #cbd2d9;
	--color-text-primary: #3e3e3e;
	--color-text-secondary: #787878;
	--color-text-tertiary: #b3b3b3;
	--color-text-on-primary: #f0f4f8;
	--color-text-on-accent: #000000;
	--color-primary: var(--color-primary-base);
	--color-secondary: var(--color-primary-d12);
	--color-tertiary: var(--color-primary-l24);
	--color-accent: #ff9b42;
	--color-accent-focus: #cc7c35;
	--color-form-is-valid: #198754;
	--color-form-is-invalid: #dc3545;

	&.dark-mode {
		--color-background: #3e4c59;
		--color-background-secondary: #1f2933;
		--color-background-tertiary: #52606d;
		--color-text-primary: #f5f7fa;
		--color-text-secondary: #cbd2d9;
		--color-text-tertiary: #9aa5b1;
		--color-text-on-primary: #f5f7fa;
		--color-text-on-accent: #3e3e3e;
		--color-primary: var(--color-primary-base);
		--color-secondary: var(--color-primary-d12);
		--color-tertiary: var(--color-primary-l24);
		--color-accent: #adee98;
		--color-accent-focus: #85bd72;
		--color-form-is-valid: $primary-l24;
		--color-form-is-invalid: #ddc4dd;
	}
}
