/*
Color Palette
*/
/*
    Global colors
    */
:root {
  /*
     Nebula uses a dark and light color palette. The pallete is automatically set to the user's personal preference via javascript.
     When setting a color use var(--color-name) to set the color.

     To change the color palette, change the '--color-name-[dark or light]' color variables below.

     To add a color variable:
     Add the color to the light color to the light color palette, and the dark color to the dark color palette in the &.dark-mode section.
     */
  --color-primary-50: #e3f2fe;
  --color-primary-100: #bcddfc;
  --color-primary-200: #92c9fb;
  --color-primary-300: #67b4f9;
  --color-primary-400: #48a3f8;
  --color-primary-500: #2f94f6;
  --color-primary-600: #2e86e8;
  --color-primary-700: #2a74d4;
  --color-primary-800: #2762c2;
  --color-primary-900: #2144a3;
  --color-secondary-50: #f0f4f8;
  --color-secondary-100: #d9e2ec;
  --color-secondary-200: #bcccdc;
  --color-secondary-300: #9fb3c8;
  --color-secondary-400: #829ab1;
  --color-secondary-500: #627d98;
  --color-secondary-600: #486581;
  --color-secondary-700: #334e68;
  --color-secondary-800: #243b53;
  --color-secondary-900: #102a43;
  --color-accent-50: #fae5f0;
  --color-accent-100: #f5beda;
  --color-accent-200: #f094c1;
  --color-accent-300: #ed6aa8;
  --color-accent-400: #eb4a93;
  --color-accent-500: #eb2c7f;
  --color-accent-600: #d92a7a;
  --color-accent-700: #c22872;
  --color-accent-800: #ac266c;
  --color-accent-900: #852161;
  --color-neutral-50: #ecf0f5;
  --color-neutral-100: #d0dae2;
  --color-neutral-200: #b4c1ce;
  --color-neutral-300: #97a8b8;
  --color-neutral-400: #8195a7;
  --color-neutral-500: #6b8297;
  --color-neutral-600: #5d7386;
  --color-neutral-700: #4d5f6f;
  --color-neutral-800: #3e4c59;
  --color-neutral-900: #2c3741;
  /*
     Light Theme color-scheme (Change colors for the light theme here)
     */
  --color-scheme: light;
  --color-background: var(--color-neutral-50);
  --color-background-secondary: var(--color-neutral-100);
  --color-background-tertiary: var(--color-secondary-200);
  --color-text-primary: var(--color-neutral-900);
  --color-text-secondary: var(--color-neutral-800);
  --color-text-tertiary: var(--color-neutral-700);
  --color-text-on-primary: var(--color-secondary-50);
  --color-text-on-primary-focus: var(--color-secondary-100);
  --color-text-on-accent: var(--color-neutral-50);
  --color-primary: var(--color-primary-800);
  --color-secondary: var(--color-primary-600);
  --color-tertiary: var(--color-primary-500);
  --color-accent: var(--color-accent-600);
  --color-accent-focus: var(--color-accent-700);
  --color-accent-on-dark-background: var(--color-accent-200);
  --color-accent-on-dark-background-focus: var(--color-accent-300);
  --color-form-is-valid: var(--color-primary-600);
  --color-form-is-invalid: var(--color-accent-800);
  /* Navbar */
  --color-navbar-background: var(--color-neutral-50);
  --color-primary-active: var(--color-primary-800);
  --box-shadow: 4px 4px 30px rgba(44, 55, 65, 0.1),
  	2px 2px 20px rgba(44, 55, 65, 0.04);
  /* Alerts */
  --color-alert-error: #bd3838;
  --color-alert-error-text: var(--color-neutral-50);
  --color-alert-success: var(--color-primary-800);
  --color-alert-success-text: var(--color-neutral-50);
  --color-alert-warning: rgb(255, 210, 125);
  --color-alert-warning-text: var(--color-neutral-900);
  --color-alert-info: var(--color-neutral-900);
  --color-alert-info-text: var(--color-neutral-50);
}
:root.dark-mode {
  --color-scheme: dark;
  --color-background: var(--color-neutral-900);
  --color-background-secondary: var(--color-neutral-800);
  --color-background-tertiary: var(--color-secondary-900);
  --color-text-primary: var(--color-neutral-50);
  --color-text-secondary: var(--color-neutral-100);
  --color-text-tertiary: var(--color-neutral-200);
  --color-text-on-primary: var(--color-neutral-50);
  --color-text-on-accent: var(--color-neutral-900);
  --color-primary: var(--color-primary-800);
  --color-secondary: var(--color-primary-600);
  --color-tertiary: var(--color-primary-500);
  --color-accent: var(--color-accent-100);
  --color-accent-focus: var(--color-accent-200);
  --color-form-is-valid: var(--color-primary-400);
  --color-form-is-invalid: var(--color-accent-200);
  /* Navbar */
  --color-navbar-background: var(--color-neutral-900);
  --color-primary-active: var(--color-primary-400);
  --box-shadow: 6px 6px 40px rgba(44, 55, 65, 0.2),
  	4px 4px 30px rgba(0, 0, 0, 0.25);
}

/* Generated using: https://google-webfonts-helper.herokuapp.com/fonts/lato?subsets=latin,latin-ext */
/* lato-300 - latin-ext_latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("/static/fonts/lato-v20-latin-ext_latin-300.woff2") format("woff2"), url("/static/fonts/lato-v20-latin-ext_latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-300italic - latin-ext_latin */
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 300;
  src: local(""), url("/static/fonts/lato-v20-latin-ext_latin-300italic.woff2") format("woff2"), url("/static/fonts/lato-v20-latin-ext_latin-300italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-regular - latin-ext_latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/static/fonts/lato-v20-latin-ext_latin-regular.woff2") format("woff2"), url("/static/fonts/lato-v20-latin-ext_latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-italic - latin-ext_latin */
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("/static/fonts/lato-v20-latin-ext_latin-italic.woff2") format("woff2"), url("/static/fonts/lato-v20-latin-ext_latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
:root {
  --font-size-h1: 2.3rem;
  --font-size-h2: 1.3rem;
  --font-size-h3: 1rem;
  --font-size-h4: 0.9rem;
  --font-size-p: 0.8125rem;
}
@media (min-width: 576px) {
  :root {
    --font-size-h1: 2.7rem;
    --font-size-h2: 1.7rem;
    --font-size-h3: 1.3rem;
    --font-size-h4: 1.1rem;
    --font-size-p: 1rem;
  }
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

body {
  font-family: "Lato", "Roboto", "Arial", sans-serif;
  font-weight: 300;
  color: var(--color-text-primary);
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  font-family: "Poppins", "Open Sans", "Arial", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1 {
  margin-top: 0px;
  margin: 1rem 0px 1rem 0px;
  letter-spacing: -0.04rem;
}

h2 {
  margin: 0px 0px 1rem 0px;
  letter-spacing: -0.04rem;
}

h3 {
  /* Tertiary titles */
  margin: 1.4rem 0px 0.5rem 0px;
  letter-spacing: 0.04rem;
}

h4 {
  /* Quaternary titles */
  margin: 1rem 0px 0.5rem 0px;
  letter-spacing: 0.04rem;
}

.text-primary {
  color: var(--color-text-primary) !important;
}

.text-secondary {
  color: var(--color-text-secondary) !important;
}

.text-tertiary {
  color: var(--color-text-tertiary) !important;
}

.text-accent {
  color: var(--color-accent) !important;
}

p {
  /* General Text */
  margin: 0 0 0.5rem 0;
  font-size: var(--font-size-p);
  font-weight: 400;
  letter-spacing: 0.04rem;
  line-height: 1.25rem;
  word-wrap: break-word;
}

p:last-child {
  margin-bottom: 0 !important;
}

.small-accent {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: var(--font-size-p);
  color: var(--color-accent);
}

.poppins {
  font-family: "Poppins", sans-serif;
}

/*
    Forms
*/
.input-field {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  border-radius: 0.7rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}
.input-field, .input-field > * {
  transition: all 0.1s ease-in-out;
}
.input-field.is-valid {
  outline: var(--color-form-is-valid) solid 3px;
  box-shadow: none;
}
.input-field.is-invalid {
  outline: var(--color-form-is-invalid) solid 3px;
  box-shadow: none;
}
.input-field.is-validating {
  outline: var(--color-text-secondary) solid 3px;
  box-shadow: none;
}
.input-field:focus-within {
  color: var(--color-text-primary);
  background-color: var(--color-background-tertiary);
  border: none;
  box-shadow: none;
}
.input-field:focus-within .is-invalid {
  box-shadow: 0 0 0 0.25rem var(--color-form-is-invalid);
}
.input-field:focus-within .is-valid {
  box-shadow: 0 0 0 0.25rem var(--color-form-is-valid);
}
.input-field:focus-within .is-validating {
  box-shadow: 0 0 0 0.25rem var(--color-text-secondary);
}

.form-label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.input-feedback {
  color: var(--color-text-secondary);
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.form-control,
.form-select {
  color: var(--color-text-primary);
  border: none;
  padding-left: 0;
  padding-top: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.form-control:focus,
.form-select:focus {
  color: var(--color-text-primary);
  border: none;
  box-shadow: none;
}

.form-control:focus {
  background-color: transparent;
}

.form-select:focus {
  background-color: var(--color-background-tertiary);
}

/* form validations */
/* reset bootstrap styling */
.form-control.is-valid, .form-control.is-valid:focus, .form-control.is-invalid, .form-control.is-invalid:focus, .form-control.is-validating, .form-control.is-validating:focus,
.form-select.is-valid,
.form-select.is-valid:focus,
.form-select.is-invalid,
.form-select.is-invalid:focus,
.form-select.is-validating,
.form-select.is-validating:focus {
  border: none;
  box-shadow: none;
  outline: none;
  background-image: none;
  background-color: none;
}

.validating-feedback {
  color: var(--color-text-primary);
}

.valid-feedback {
  color: var(--color-form-is-valid);
}

.invalid-feedback {
  color: var(--color-form-is-invalid);
}

.preview-form-container {
  background-color: var(--color-background);
  border-radius: 0.7rem;
  padding: 1rem;
  display: none;
  margin-bottom: 1rem;
}

.show-preview-button {
  display: none;
}

.btn-primary {
  opacity: 1;
  margin-top: 0.5rem;
  background-color: var(--color-primary);
  color: var(--color-text-on-primary);
  background-image: linear-gradient(45deg, 0% var(--color-primary), 100% var(--color-primary-d36));
  background-size: 200% auto;
  border: none;
  transition: 0.4s ease-in-out;
}

.btn-primary:hover,
.btn-primary:focus {
  color: var(--color-text-on-primary);
  background-position: right center;
  border: none;
  box-shadow: none;
}

.btn-primary:disabled {
  pointer-events: none;
  opacity: 0.65;
  color: var(--color-text-on-primary);
  border: none;
}

.btn-outline {
  background-color: transparent;
  color: var(--color-primary-active);
  border: 1px solid var(--color-primary-active);
  transition: 0.4s ease-in-out;
  padding: 0.1rem 0.5rem;
  vertical-align: initial;
}
.btn-outline:hover, .btn-outline:focus {
  color: var(--color-text-on-primary);
  background-color: var(--color-primary-active);
  border: 1px solid var(--color-primary-active);
}

.button-accent {
  /* inline links */
  color: var(--color-accent);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  line-height: 1.25rem;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
}
.button-accent:hover, .button-accent:focus {
  color: var(--color-accent-focus);
}
.button-accent.on-primary {
  color: var(--color-accent-50);
  padding-block-end: 0.1em;
  border-block-end: var(--color-accent-50) solid 1px;
}
.button-accent.on-primary:hover, .button-accent.on-primary:focus {
  color: var(--color-accent-100);
}
.button-accent.on-dark {
  color: var(--color-accent-on-dark-background);
}
.button-accent.on-dark:hover, .button-accent.on-dark:focus {
  color: var(--color-accent-on-dark-background-focus);
}

.button-secondary {
  color: var(--color-text-tertiary);
  font-weight: 500;
  letter-spacing: 0.04rem;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.button-secondary:hover, .button-secondary:focus {
  color: var(--color-text-secondary);
}

.navbar {
  display: flex;
  background-color: var(--color-background);
  box-shadow: var(--box-shadow);
  z-index: 10;
}

@media (hover: hover) and (min-width: 992px) {
  .nav-item:hover .dropdown-menu, .nav-item:focus .dropdown-menu {
    display: block;
  }
  .carot-left:after,
.dropdown-menu > li > a:hover:after,
.dropdown-menu > li > a:focus:after {
    /* rotate caret on hover */
    transform: rotate(-90deg);
  }
  .dropdown-menu {
    display: none;
    margin-top: 0;
  }
  .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0px;
  }
  .dropdown-menu li {
    position: relative;
  }
  .dropdown-menu li:hover .dropdown-submenu, .dropdown-menu li:focus .dropdown-submenu {
    display: block;
  }
  .dropdown-menu li a:hover::after,
.dropdown-menu li a:focus::after,
.dropdown-menu li .carot-left:after {
    transform: rotate(-90deg);
  }
}
.nav-link {
  font-family: "Poppins", "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2rem;
  color: var(--color-text-secondary) !important;
}
.nav-link:hover, .nav-link:focus {
  color: var(--color-text-primary) !important;
}
.nav-link.active {
  color: var(--color-primary-active) !important;
  font-weight: 600;
}

.navbar-toggler {
  border-color: var(--color-text-secondary) !important;
  border: none !important;
  padding: 0 !important;
}
.navbar-toggler:hover, .navbar-toggler:focus {
  border-color: var(--color-text-primary) !important;
}
.navbar-toggler svg {
  color: var(--color-text-secondary) !important;
}
.navbar-toggler svg:hover, .navbar-toggler svg:focus {
  color: var(--color-text-primary) !important;
}

.site-name {
  font-family: "Poppins", "Open Sans", "Arial", sans-serif;
  font-size: 2rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  letter-spacing: -0.04rem;
  color: var(--color-primary-active);
}

.navbar-brand img {
  display: inline-block;
  max-height: 3.125rem;
}
.navbar-brand div {
  display: inline-block;
  vertical-align: middle;
}
.navbar-brand div p {
  margin-bottom: 0;
  font-size: 65%;
}

.dropdown-menu {
  border-radius: 0;
  border: 0 solid transparent;
  border-bottom: 2px solid var(--color-secondary);
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  overflow: visible;
  margin-top: 0 !important;
}
.dropdown-menu-right {
  right: 0;
  left: initial !important;
}
.dropdown-menu .active {
  text-decoration: underline;
  color: inherit;
  background-color: var(--color-background);
  color: var(--color-text-secondary);
}

.dropdown-submenu {
  border-radius: 0;
  border: 0 solid transparent;
  color: var(--color-text-primary);
  border-bottom: 2px solid var(--color-primary-active);
  padding: 0;
  background-color: var(--color-background);
}

.dropdown-submenu li {
  list-style: none;
}

.dropdown-item {
  padding-top: 10px;
  padding-bottom: 10px;
  transition: background-color 0.15s;
  color: var(--color-text-primary);
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: var(--color-background-secondary);
  color: var(--color-text-primary);
}

.dropdown-menu .dropdown-submenu {
  display: none;
}

.nav-header {
  font-weight: 200;
  margin-left: 0.5em;
}

/* check if a device supports :hover */
@media (hover: hover) {
  :root {
    --has-hover: 1;
  }
}
@media (max-width: 991px) {
  /* .navbar-nav>li>a:after, */
  .dropdown-menu > li > a:after {
    transform: rotate(-90deg);
  }
  /* .navbar-nav>li>a:focus:after, */
  .dropdown-menu > li > a:focus:after {
    transform: rotate(0);
  }
  .dropdown-menu .dropdown-submenu {
    margin-left: 0.5em;
    border: 0;
  }
  .dropdown-submenu,
.dropdown-item {
    max-width: calc(100vw - 2rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (hover: none) and (min-width: 992px) {
  :root {
    --has-hover: 0;
  }
  .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0px;
  }
  .dropdown-menu li {
    position: relative;
    /* rotate caret on hover */
  }
  .dropdown-menu li a:focus:after {
    transform: rotate(-90deg);
  }
}
.persistent-nav-container {
  color: var(--color-text-primary);
  margin-inline-start: auto;
  display: flex;
}
.persistent-nav-container .dark-mode-toggle-container {
  vertical-align: middle;
  margin-left: auto;
  display: grid;
  place-items: center;
  padding: 0.5rem;
}
.persistent-nav-container .account-management-dropdown {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.persistent-nav-container .account-management-dropdown span {
  display: none;
}
@media (min-width: 576px) {
  .persistent-nav-container .account-management-dropdown span {
    display: inline;
  }
}

.main-title {
  /* font-size: 3rem; */
  margin-bottom: 1rem;
}

@media all and (min-width: 992px) {
  .persistent-nav-container {
    order: 2;
    margin-right: 0;
  }
  .account-management-dropdown {
    order: 2;
  }
}
.dark-mode-icon,
.light-mode-icon {
  display: none;
  color: var(--color-text-secondary);
}

.dark-mode-icon:hover,
.light-mode-icon:hover {
  color: var(--color-text-primary);
}

.animate-rotation .dark-mode-icon,
.animate-rotation .light-mode-icon {
  animation: rotation 0.2s ease-out;
}

.dark-mode-toggle-container .dark-mode-enabled .dark-mode-icon {
  display: none;
}

.dark-mode-toggle-container .dark-mode-enabled .light-mode-icon {
  display: block;
}

.dark-mode-toggle-container .light-mode-enabled .dark-mode-icon {
  display: block;
}

.dark-mode-toggle-container .light-mode-enabled .light-mode-icon {
  display: none;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.notifications {
  position: relative;
}
.notifications__toggle {
  padding: 0.5rem;
  display: grid;
  place-items: center;
  height: 100%;
  color: var(--color-text-secondary);
}
.notifications__toggle:hover, .notifications__toggle:focus {
  color: var(--color-text-primary);
}
.notifications__toggle.unread {
  color: var(--color-primary-active);
}
.notifications__toggle.unread::after {
  content: attr(data-unread-count);
  position: absolute;
  display: flex;
  font-family: "Lato", "Roboto", "Arial", sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 10%;
  right: 0;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 0.875rem;
  border-radius: 50%;
  background-color: var(--color-primary-active);
  color: var(--color-background);
}
.notifications__list {
  display: none;
  position: absolute;
  z-index: 900;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  width: min(80vw, 500px);
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-background-secondary);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}
.notifications__list--active {
  display: block;
}
.notifications__list__header {
  padding: 0.5rem;
}
.notifications__list__header__title {
  font-size: 1.3rem;
  font-weight: 200;
}
.notifications__list__no-notifications {
  padding: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 200;
}
.notifications__list__item {
  padding: 0.5rem;
  font-weight: 300;
  display: grid;
  align-items: flex-start;
}
.notifications__list__item__category {
  grid-row: 1/span 1;
  grid-column: 1/span 1;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  align-self: center;
  border: 4px solid var(--color-text-primary);
}
.notifications__list__item__category.success {
  border-color: var(--color-alert-success);
}
.notifications__list__item__category.warning {
  border-color: var(--color-alert-warning);
}
.notifications__list__item__category.error {
  border-color: var(--color-alert-error);
}
.notifications__list__item__category.info {
  border-color: var(--color-alert-info);
}
.notifications__list__item.unread {
  font-weight: 400;
}
.notifications__list__item.unread .notifications__list__item__category {
  background-color: var(--color-accent);
}
.notifications__list__item:last-of-type {
  border-radius: 0 0.5rem 0.5rem 0;
}
.notifications__list__item__content {
  grid-row: 1/span 1;
  grid-column: 2/span 1;
  padding-left: 0.5rem;
}
.notifications__list__item__actions {
  grid-row: 2/span 1;
  grid-column: 2/span 1;
  text-align: right;
  padding-right: 0.5rem;
  font-weight: 500;
}

.subject-tag {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  font-size: 0.75rem;
  color: var(--color-text-on-accent);
  background-color: var(--color-accent);
  font-style: normal;
  font-weight: 400;
  line-height: 0.875rem;
  text-align: center;
  letter-spacing: 0.095em;
  text-transform: lowercase;
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.subject-tag:hover {
  background-color: var(--color-accent-focus);
  color: var(--color-text-on-accent);
}

.suggestions-container {
  max-height: 120px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--color-background-tertiary);
  color-scheme: var(--color-scheme);
}

.suggestion {
  cursor: pointer;
  transition: 0.1s ease-out;
}
.suggestion:hover {
  text-decoration: underline;
}
.suggestion span {
  font-weight: 700;
}
.suggestion.selected {
  color: var(--color-primary-active);
  font-size: 1.2rem;
}
.suggestion.selected:hover {
  color: var(-color-primary-active);
  text-decoration: underline;
}

.course-list-item {
  cursor: pointer;
}
.course-list-item:hover a {
  color: var(--color-primary-active);
}

.course-item__header__title {
  font-family: "Poppins", "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: var(--font-size-h3);
  margin-bottom: 0.125rem;
}
.course-item__header__title a {
  color: var(--color-text-primary);
  transition: 0.1s ease-in-out;
}
.course-item__header__title a:hover, .course-item__header__title a:focus {
  color: var(--color-primary-active);
}

.course-item__body__description {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size-p);
  line-height: 25px;
  color: var(--color-text-primary);
}

.course-item__footer__questions-amount {
  font-family: "Poppins", "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: var(--font-size-p);
}

.question-list-item {
  background-color: transparent;
  display: block;
  padding-bottom: 1rem;
  color: var(--color-text-primary);
  cursor: pointer;
}
.question-list-item:hover {
  color: var(--color-text-primary);
}
.question-list-item:focus-within {
  background-color: var(--color-background-secondary);
}
.question-list-item__header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 0.2rem;
  gap: 0.5rem;
}
.question-list-item__header__username {
  margin-right: auto;
}
.question-list-item__header__username a {
  font-weight: 400;
  letter-spacing: 0.095em;
  font-size: 1rem;
  color: var(--color-text-primary);
}
.question-list-item__header__username span {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: var(--color-primary-active);
}
.question-list-item__header__subject-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}
.question-list-item__header__subject-tags span {
  font-weight: 700;
}
.question-list-item__header__course a {
  font-weight: 300;
  font-size: 0.875rem;
  letter-spacing: 0.095em;
  color: var(--color-text-primary);
}
.question-list-item__header__course span {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: var(--color-primary-active);
}
.question-list-item__body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 0.2rem;
  flex-wrap: wrap;
}
.question-list-item__body__title {
  margin-right: auto;
  font-style: normal;
  font-weight: 400;
  line-height: 1.075rem;
  font-size: 1rem;
  letter-spacing: 0.095em;
  flex: 1 1 auto;
}
.question-list-item__body__title a {
  color: var(--color-primary-active);
}
.question-list-item__body__title span {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: var(--color-primary-active);
}
.question-list-item__body__posted-at {
  font-style: normal;
  font-weight: 300;
  line-height: 1.075rem;
  font-size: 0.875rem;
  letter-spacing: 0.095em;
  flex: 0 0 max-content;
}
.question-list-item__footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.875rem;
}
.question-list-item__footer__item {
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.075rem;
  letter-spacing: 0.095em;
}

@media (max-width: 576px) {
  .question-list-item {
    display: grid;
    gap: 0.2rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--color-background-tertiary);
    margin-bottom: 0.5rem;
  }
  .question-list-item__footer {
    grid-column: 1/span 3;
    grid-row: 1/2;
  }
  .question-list-item__body {
    grid-column: 1/span 3;
    grid-row: 2/3;
    margin-bottom: 0;
  }
  .question-list-item__body__title {
    font-size: 1.1rem;
  }
  .question-list-item__body__content {
    font-size: 0.875rem;
  }
  .question-list-item__header {
    grid-column: 1/span 3;
    grid-row: 3/4;
    display: flex;
    gap: 0.2rem;
  }
  .question-list-item__header__username {
    order: 1;
  }
  .question-list-item__header__course {
    order: 2;
  }
  .question-list-item__header__subject-tags {
    order: 3;
    flex-basis: 100%;
    justify-content: flex-start;
  }
}
.search-bar {
  background-color: var(--color-background-tertiary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  padding: 0.0625rem 0.5rem;
  margin-bottom: 1rem;
}
.search-bar:focus-within {
  background-color: var(--color-background-tertiary);
}
.search-bar .form-control {
  padding-bottom: 0;
}
.search-bar .form-control::placeholder {
  color: var(--color-text-secondary);
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.095em;
}
.search-bar svg {
  pointer-events: none;
  color: var(--color-text-primary);
  fill: var(--color-text-primary);
}

.background-card {
  background-color: var(--color-background-secondary);
  box-shadow: var(--box-shadow);
  border-radius: 18px;
  padding: 1rem;
}
.background-card--secondary {
  background-color: var(--color-background-secondary);
  box-shadow: var(--box-shadow);
  border-radius: 18px;
  padding: 1rem;
}

pre code {
  display: block;
  padding: 0.5em;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  border-radius: 0.5rem;
  overflow-x: auto;
}

mjx-container {
  overflow-x: auto;
  min-width: 0 !important;
}

.markdown-view {
  display: flex;
  flex-direction: column;
}
.markdown-view > * {
  word-break: normal;
}
.markdown-view img {
  max-width: 100%;
}
.markdown-view h1,
.markdown-view h2,
.markdown-view h3,
.markdown-view h4,
.markdown-view h5,
.markdown-view h6 {
  font-family: "Lato", "Roboto", "Arial", sans-serif;
}
.markdown-view h1 {
  font-size: 1.6rem;
}
.markdown-view h2 {
  font-size: 1.4rem;
}
.markdown-view h3 {
  font-size: 1.2rem;
}
.markdown-view h4 {
  font-size: 1.1rem;
}
.markdown-view h5 {
  font-size: 1.05rem;
}
.markdown-view h6 {
  font-size: 1rem;
}
.markdown-view table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid var(--color-text-primary);
}
.markdown-view table th {
  padding: 8px;
  font-weight: 700;
  font-size: 0.9rem;
  border: 1px solid var(--color-text-primary);
  background-color: var(--color-background-tertiary);
}
.markdown-view table td {
  padding: 8px;
  border: 1px solid var(--color-text-primary);
}
.markdown-view table tr:nth-child(odd) {
  background-color: var(--color-background-secondary);
}
.markdown-view table tr:nth-child(even) {
  background-color: var(--color-background-tertiary);
}

@media (min-width: 768px) {
  .markdown-editor {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 100px);
  }
  .markdown-editor__toolbar--bg {
    width: 100%;
    background-color: var(--color-background-secondary);
    box-shadow: var(--box-shadow);
    z-index: 3;
  }
  .markdown-editor__toolbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1.5rem;
    align-items: baseline;
    padding: 0.5rem 0;
  }
  .markdown-editor__toolbar--left {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
  }
  .markdown-editor__toolbar--right {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
  }
  .markdown-editor__toolbar__item__link {
    font-size: 1.2rem;
    color: var(--color-text-primary);
  }
  .markdown-editor__toolbar__item__title {
    font-size: 1.4rem;
    color: var(--color-text-primary);
  }
  .markdown-editor__editor-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex: 1 0 max-content;
  }
  .markdown-editor__split-pane {
    width: 100%;
    display: flex;
    flex: 1 0 50%;
    flex-direction: row;
    background-color: var(--color-background-secondary);
    box-shadow: var(--box-shadow);
  }
  .markdown-editor__textarea {
    border-inline-end: 1px var(--color-text-tertiary) solid;
    width: 50%;
    min-height: 100%;
  }
  .markdown-editor__textarea textarea {
    background-color: var(--color-background-secondary);
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    resize: none;
    overflow-y: auto;
  }
  .markdown-editor__textarea textarea:focus {
    border: none;
    outline: none;
  }
  .markdown-editor__preview {
    width: 50%;
    height: 100%;
    border-inline-start: 1px var(--color-text-tertiary) solid;
    padding: 0.5rem;
    overflow-y: auto;
  }
}

.alerts-container {
  display: flex;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  pointer-events: all;
  z-index: 1000;
  justify-content: center;
}
@media (min-width: 576px) {
  .alerts-container {
    padding: 1rem;
  }
}

.alert {
  position: initial;
  padding: 0.1rem 1rem 0.2rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.alert .close {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.alert__error {
  background-color: var(--color-alert-error);
  color: var(--color-alert-error-text);
}
.alert__error .close {
  color: var(--color-alert-error-text);
}
.alert__success {
  background-color: var(--color-alert-success);
  color: var(--color-alert-success-text);
}
.alert__success .close {
  color: var(--color-alert-success-text);
}
.alert__warning {
  background-color: var(--color-alert-warning);
  color: var(--color-alert-warning-text);
}
.alert__warning .close {
  color: var(--color-alert-warning-text);
}
.alert__info {
  background-color: var(--color-alert-info);
  color: var(--color-alert-info-text);
}
.alert__info .close {
  color: var(--color-alert-info-text);
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  background-color: var(--color-background);
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}
.loader.fade-out {
  opacity: 0;
}
.loader::after {
  font-family: "Poppins", "Open Sans", "Arial", sans-serif;
  content: "Loading...";
  font-size: 1.5rem;
  position: relative;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--color-primary-active);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
@keyframes placeHolderShimmer {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 800px 0;
  }
}
.content-loader {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #bbbbbb 18%, #eeeeee 33%);
  background-size: 800px 104px;
  position: absolute;
  z-index: 8000;
  flex: 1;
  min-height: 70px;
  height: 100%;
  min-width: 100%;
  width: 100%;
  overflow: hidden;
}

/* 
    Nebula uses the SCSS syntax to write stylesheets.
    The main.scss file is the entry point for all stylesheets.

    The main.scss file is compiled into main.css.
    Please do not write directly to any of the files in the /css directory, 
        !!these files may get overwritten when nebula builds!!
        instead, write to in the /scss directory.

    Please see the Nebula documentation for more information.

    !!!NOTE the scss compiler in nebula does not like mixing types (e.g. vh and px) in 'calc', 'min' and 'max' functions. To use them,
        you must escape them with  calc(...)  or  min(...)  or  max(...) . This is because the scss compiler (libsass) in nebula is deprecated,
        but it's replacement - Dart Sass - does not support python.

    @TODO: Find a better way of compiling SCSS files within Python.
*/
/* 
    Imports all forwarded SCSS files 

    To forward a SCSS file, add the @forward 'file_name' to the index.scss file.
*/
.bg-blue {
  background-color: var(--color-primary) !important;
  text-align: right;
}

/* 
    General Settings 
*/
html {
  color: var(--color-text-primary);
  font-size: 100%;
  text-rendering: optimizeLegibility;
  color-scheme: var(--color-scheme);
}

body {
  margin: 0 0 0 0;
  background-color: var(--color-background);
}

::selection,
::-moz-selection,
::-webkit-selection {
  background-color: var(--color-accent);
  color: var(--color-text-on-accent);
}

@media (min-width: 576px) {
  .container-lg {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}
@media (min-width: 1600px) {
  .container-lg {
    max-width: 1440px;
  }
}
@media (min-width: 1920px) {
  .container-lg {
    max-width: 1780px;
  }
}

kbd {
  background-color: var(--color-text-primary);
  color: var(--color-background);
  font-weight: 400;
}

/* 
    Layout
*/
.divider {
  /* Divider */
  border-bottom: 1px solid var(--color-text-tertiary);
  margin: 0.25rem 0;
}

/*
    Main 
*/
main {
  min-height: calc(100vh - 100px);
}

/*
    Header 
*/
header + * {
  margin-top: 1rem;
}

header + .no-header-margin {
  margin-top: 0;
}

/* 
    Navigation
*/
/*
    Footer 
*/
footer {
  padding: 1em 0;
  margin: 60px auto 0 auto;
  /* margin-top: 60px;
  margin-bottom: 0 !important; */
  background-color: var(--grey, #666666) !important;
  font-size: 90%;
  color: #fff !important;
  text-align: center;
  width: 100%;
}

footer p {
  margin-bottom: 0;
}

.no-footer-margin + footer {
  margin-top: 0;
}

/*
    Reusables
*/
.js-only {
  display: none;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  opacity: 0.00001 !important;
}

.row {
  margin-top: 30px;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}
a:hover, a:focus {
  color: var(--color-accent-focus);
}

.path-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.125rem;
}
@media (min-width: 576px) {
  .path-container {
    flex-direction: row;
    gap: 0;
  }
  .path-container__link {
    text-align: start;
  }
}
.path-container__link {
  color: var(--color-text-secondary);
  font-family: "Poppins", "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: var(--font-size-h4);
  flex: 0 0 content;
  text-align: center;
}
.path-container__link:hover {
  color: var(--color-text-primary);
}
.path-container__link::after {
  content: ">";
  font-family: "Poppins", "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: var(--font-size-h4);
  margin-inline: 0.0625rem;
}
.path-container__link:last-child {
  color: var(--color-primary-active);
}
.path-container__link:last-child::after {
  content: "";
}

/*
    Index Page
*/
.container-index {
  grid-template-columns: 1fr 1fr;
  display: grid;
  width: 100%;
  min-height: calc(100vh - 4rem);
  position: relative;
}

.container-index h2 {
  color: var(--color-text-on-primary);
  font-size: 2rem;
  font-weight: 700;
  font-family: "Poppins", "Open Sans", "Arial", sans-serif;
}

.container-index .button-accent {
  font-size: 1.2rem;
}

.container-index h3 {
  color: var(--color-text-on-primary);
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Poppins", "Open Sans", "Arial", sans-serif;
}

.container-index p {
  color: var(--color-text-on-primary);
  font-size: 1.125rem;
  font-weight: 400;
  font-family: "Poppins", "Open Sans", "Arial", sans-serif;
}

.container-index .btn {
  font-size: 1.5rem;
}

.container-introduction {
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.container-introduction h2 {
  color: var(--color-text-on-primary);
  font-size: 3rem;
}

.container-introduction p {
  color: var(--color-text-on-primary);
  font-weight: 400;
  font-family: "Poppins", "Open Sans", "Arial", sans-serif;
}

.container-introduction .image img {
  width: 100%;
  max-width: 650px;
  transform: translateY(60%);
}

.container-index-browse {
  /* background-color: var(--color-background-secondary); */
  padding: 0.5rem 0;
}

.container-add-question {
  margin-top: 1rem;
}

.container-add-question h2 {
  margin-bottom: 0.5rem;
}

.container-add-question .btn-primary {
  margin-top: 1rem;
}

.container-add-question .btn-primary:hover,
.container-add-question .btn-primary:focus {
  opacity: 1;
  background-position: right center;
  border: none;
  box-shadow: none;
}

.tag-container * + * {
  margin-left: 0.5rem;
}

.container-index .panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.container-index .left-panel {
  grid-column: 1/2;
  grid-row: 1/3;
  padding: 3rem 17% 2rem 12%;
}

.container-index .right-panel {
  grid-column: 2/3;
  grid-row: 1/3;
  justify-content: center;
  padding: 3rem 12% 3rem 17%;
}

.container-background {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  /* min-height: 1050px; */
  min-height: 100vh;
  /* height: 100%; */
  overflow: hidden;
  /* pointer-events: none; */
}

.container-background:before {
  position: absolute;
  content: "";
  top: -10%;
  right: 48%;
  width: 4000px;
  height: 4000px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-image: linear-gradient(-45deg, var(--color-primary), var(--color-tertiary));
  z-index: -1;
  transition: 1s ease-in-out;
  overflow: hidden;
  box-shadow: var(--box-shadow);
}

.container-question-page.edit-mode .container-question-edit {
  display: block;
}

.container-question-page .container-question {
  display: block;
}

@media (max-width: 768px) {
  .container-index {
    grid-template-columns: 1fr;
    min-height: 500px;
    height: 100vh;
  }
  .container-index h2 {
    font-size: 1.9rem;
  }
  .container-introduction h2 {
    font-size: 2.3rem;
  }
  .container-index p {
    font-size: 1rem;
  }
  .container-index .button-accent {
    font-size: 1rem;
  }
  .container-index h3 {
    font-size: 1.2rem;
  }
  .container-index .left-panel {
    padding: 2rem 0.5rem;
    grid-column: 1/2;
    grid-row: 1/2;
    min-height: 220px;
    margin-top: 30px;
  }
  .container-index .right-panel {
    padding: 2rem 0.5rem;
    grid-column: 1/2;
    grid-row: 2/3;
    justify-content: start;
  }
  .container-introduction .image img {
    max-width: 40%;
    position: absolute;
    top: 50%;
    right: 0%;
    bottom: initial;
    transform: translateY(min(-42vh, -210px));
  }
  .container-introduction .content {
    max-width: 60%;
    position: absolute;
    left: 0;
    top: 50%;
    bottom: initial;
    transform: translateY(min(-42vh, -210px));
  }
  .container-background:before {
    left: -20%;
    bottom: initial;
    top: calc(-4000px + max(calc(200px + 20%), 300px));
    transform: translateX(-50%);
    /* top: -100%; */
    right: initial;
  }
}
@media (max-width: 592px) {
  .container-index .image {
    display: none;
  }
  .container-introduction .content {
    width: 100%;
    max-width: 100%;
    position: relative;
    top: initial;
    left: initial;
    transform: initial;
    bottom: initial;
    right: initial;
  }
}
@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-moz-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
.stars {
  background: black url("../images/stars.png") repeat;
  position: fixed;
  background-position: center;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: -2;
}

.twinkling {
  width: 10000px;
  height: 100%;
  background: transparent url("../images/twinkling.png") repeat;
  background-size: 1000px 1000px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
  -moz-animation: move-background 70s linear infinite;
  -ms-animation: move-background 70s linear infinite;
  -o-animation: move-background 70s linear infinite;
  -webkit-animation: move-background 70s linear infinite;
  animation: move-background 70s linear infinite;
}

/*
    Add Question Page
*/
.add-question-button-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.latex-instructions-container,
#toggle-latex-instructions-button {
  margin-left: 1rem;
}

/* 
    All Courses
*/
.course-level-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
.course-level-list__item {
  width: 100%;
}
.course-level-list__item__title {
  margin-top: 0;
}

/*# sourceMappingURL=main.css.map */
