{% extends 'layouts/base.html' %}

{% from 'components/markdown_editor.html' import markdown_editor with context %}

{% block title %}Add a question - Nebula{% endblock %}
{% block body %}
<main>







    <div class="container-lg">
        <div class="background-card">
            <h2>Add a question</h2>
            <p>
                Submit a question below
            </p>

            <noscript>
                <p>
                    <strong>Warning:</strong> JavaScript is disabled or failed to load.
                    You will not be able to preview your markdown before submitting your
                    question or add subject tags to your question.
                </p>
            </noscript>
            <form method='POST' action="{{ url_for('add_question.add_question')}}"
                id="add-question-form">
                {{ question_form.csrf_token }}
                <div class="input-field">
                    {{ question_form.course.label(class="form-label") }}
                    {% if question_form.course.errors|length > 0%}
                    {{ question_form.course(class="form-select is-invalid", id="course-input-field")
                    }}
                    <div class="input-feedback invalid-feedback" id="course-input-field-feedback">
                        {% for error in question_form.course.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ question_form.course(class="form-select", id="course-input-field") }}
                    <div class="input-feedback" id="course-input-field-feedback"></div>
                    {% endif %}
                </div>
                <div>
                    <a href="#!" class="button-accent" id="toggle-latex-instructions-button">Want to
                        learn
                        how to use LaTex in
                        your question?</a>
                </div>
                <div class="latex-instructions-container text-secondary">
                    If you want to add Latex to your question, please use the following format:
                    <br>
                    For block equations, use <code>$$ equation $$</code>, which will
                    look like
                    this:
                    <br>
                    $$ \nabla f = [\frac{\partial f}{\partial x} \hat{x} + \frac{\partial
                    f}{\partial y} \hat{y} +
                    \frac{\partial f}{\partial z} \hat{z}] $$
                    <br>
                    For inline equations, use <code>$ equation $</code>, which
                    will look like
                    this:
                    $ |\vec{r}| = \sqrt{x^2 + y^2 + z^2} $
                    <br>
                    To use numbered equations, use <code>\begin{equation}
                    \label{equation:number}
                    equation
                    \end{equation}</code>
                    <br>
                    \begin{equation}
                    \label{equation:number}
                    \iiiint_V \mu(t,u,v,w) \,dt\,du\,dv\,dw
                    \end{equation}
                </div>


                <div class="input-field">
                    {{ question_form.title.label(class="form-label") }}
                    {% if question_form.title.errors|length > 0 %}
                    {{ question_form.title(class="form-control is-invalid", id="title-input-field")
                    }}
                    <div class="input-feedback invalid-feedback" id="title-input-field-feedback">
                        {% for error in question_form.title.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ question_form.title(class="form-control", id="title-input-field") }}
                    <div class="input-feedback" id="title-input-field-feedback"></div>
                    {% endif %}
                    <a href="#!" id="show-title-preview"
                        class="show-preview-button button-accent">Show
                        preview</a>
                </div>
                <div class="preview-form-container" data-preview-toggled-by="show-title-preview"
                    data-preview-value-from="title-input-field" data-latex-only="true">
                    <div class="text-tertiary">
                        Preview title:
                    </div>
                    <div class="preview-content"></div>
                </div>

                <!-- {{ markdown_editor(question_form.content, "Question content") }} -->

                <div class="input-field">
                    {{ question_form.content.label(class="form-label") }}
                    {% if question_form.content.errors|length > 0 %}
                    {{ question_form.content(class="form-control is-invalid auto-adjust-textarea",
                    id="content-input-field") }}
                    <div class="input-feedback invalid-feedback" id="content-input-field-feedback">
                        {% for error in question_form.content.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ question_form.content(class="form-control auto-adjust-textarea",
                    id="content-input-field") }}
                    <div class="input-feedback" id="content-input-field-feedback"></div>
                    {% endif %}
                    <a href="#!" id="show-question-preview"
                        class="show-preview-button button-accent">Show
                        preview</a>
                </div>
                <div class="preview-form-container" data-preview-toggled-by="show-question-preview"
                    data-preview-value-from="content-input-field">
                    <div class="text-tertiary">
                        Preview question content:
                    </div>
                    <div class="preview-content"></div>
                </div>
                <div class="input-field">
                    {{ question_form.subject_tags.label(class="form-label") }}
                    {{ question_form.subject_tags }}
                    {% if question_form.subject_tags.errors|length > 0 %}
                    <input type="text" class="form-control is-invalid tag-input">
                    {{ question_form.subject_tags(class="form-control is-invalid
                    tag-input") }}
                    <div class="invalid-feedback input-feedback">
                        {% for error in question_form.subject_tags.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% else %}
                    <input type="text" class="form-control tag-input" data-store-in="subject_tags">
                    {% endif %}
                    <div class="input-feedback">
                        Press <kbd>Enter</kbd> to add a tag.
                    </div>
                </div>
                <div class="input-field">
                    {{ question_form.difficulty.label(class="form-label") }}
                    {% if question_form.difficulty.errors|length > 0 %}
                    {{ question_form.difficulty(class="form-select is-invalid",
                    id="difficulty-input-field") }}
                    <div class="input-feedback invalid-feedback"
                        id="difficulty-input-field-feedback">
                        {% for error in question_form.difficulty.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ question_form.difficulty(class="form-select", id="difficulty-input-field") }}
                    <div class="input-feedback" id="difficulty-input-field-feedback"></div>
                    {% endif %}
                </div>

                <!-- Using Vue for this, so we can add more answers dynamically. This would be a pain in the ass with vanillaJS -->
                <!-- Might be nice to find a better way to progressively add more vue or something to nebula -->
                <div id="vue-add-answers"></div>

                <div class="add-question-button-container">
                    {{ question_form.submit(class="btn btn-primary",
                    value="Submit as %s %s" % (current_user.first_name, current_user.last_name)) }}
                    {% if course is not none %}
                    <a href="{{ url_for('course.course', course_code=course.code, course_level_code=course.course_level.code)}}"
                        class="btn btn-primary">
                        Back to {{ course.name }}
                    </a>
                    {% endif %}
                </div>
            </form>
        </div>

    </div>
</main>
{% endblock %}

{% block include_js %}

<script src="https://cdn.jsdelivr.net/npm/fuzzysort@2.0.1/fuzzysort.min.js"></script>
<script src="{{ url_for('static', filename='js/tag_input.js') }}"></script>

{% from "utilities/vite.html" import vite_script with context %}

{{ vite_script('js/add_question/add_question.ts') }}

{% endblock %}