{% extends 'layouts/base.html' %}
{% block title %}Add a question - Nebula{% endblock %}
{% block body %}
<main>
    <div class="container">
        <h2>Add a question</h2>
        <p>
            Submit a question below
        </p>
        <form method='POST' action="{{ url_for('add_question.add_question')}}"
            id="add-question-form">
            {{ question_form.csrf_token }}
            {{ question_form.hidden_tag }}
            <div class="input-field">
                {{ question_form.course.label(class="form-label") }}
                {% if question_form.course.errors|length > 0%}
                {{ question_form.course(class="form-select is-invalid", id="course-input-field") }}
                <div class="input-feedback invalid-feedback" id="course-input-field-feedback">
                    {% for error in question_form.course.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
                {% else %}
                {{ question_form.course(class="form-select", id="course-input-field") }}
                <div class="input-feedback" id="course-input-field-feedback"></div>
                {% endif %}
            </div>

            <div>
                <a href="#!" class="button-accent" id="toggle-latex-instructions-button">Want to
                    learn
                    how to use LaTex in
                    your question?</a>
            </div>
            <div class="latex-instructions-container">
                <p class="text-secondary">
                    If you want to add Latex to your question, please use the following format:
                    <br>
                    <span class="tex2jax_ignore">For block equations, use $$ equation $$, which will
                        look like
                        this:</span>
                    <br>
                    $$ \nabla f = [\frac{\partial f}{\partial x} \hat{x} + \frac{\partial
                    f}{\partial y} \hat{y} +
                    \frac{\partial f}{\partial z} \hat{z}] $$
                    <span class="tex2jax_ignore">For inline equations, use \( equation \), which
                        will look like
                        this:</span>
                    \( |\vec{r}| = \sqrt{x^2 + y^2 + z^2} \)
                    <br>
                </p>
            </div>
            <div class="input-field">
                {{ question_form.title.label(class="form-label") }}
                {% if question_form.title.errors|length > 0 %}
                {{ question_form.title(class="form-control is-invalid", id="title-input-field") }}
                <div class="input-feedback invalid-feedback" id="title-input-field-feedback">
                    {% for error in question_form.title.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
                {% else %}
                {{ question_form.title(class="form-control", id="title-input-field") }}
                <div class="input-feedback" id="title-input-field-feedback"></div>
                {% endif %}
                <a href="#!" id="show-title-preview" class="show-preview-button button-accent">Show
                    preview</a>
            </div>
            <div class="preview-form-container" data-preview-toggled-by="show-title-preview"
                data-preview-value-from="title-input-field">
                <div class="text-tertiary">
                    Preview title:
                </div>
                <div class="preview-content"></div>
            </div>
            <div class="input-field">
                {{ question_form.content.label(class="form-label") }}
                {% if question_form.content.errors|length > 0 %}
                {{ question_form.content(class="form-control is-invalid auto-adjust-textarea",
                id="content-input-field") }}
                <div class="input-feedback invalid-feedback" id="content-input-field-feedback">
                    {% for error in question_form.content.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
                {% else %}
                {{ question_form.content(class="form-control auto-adjust-textarea",
                id="content-input-field") }}
                <div class="input-feedback" id="content-input-field-feedback"></div>
                {% endif %}
                <a href="#!" id="show-question-preview"
                    class="show-preview-button button-accent">Show
                    preview</a>
            </div>
            <div class="preview-form-container" data-preview-toggled-by="show-question-preview"
                data-preview-value-from="content-input-field">
                <div class="text-tertiary">
                    Preview question content:
                </div>
                <div class="preview-content"></div>
            </div>
            <!-- <div class="input-field">
                {{ question_form.answer.label(class="form-label") }}
                {% if question_form.answer.errors|length > 0 %}
                {{ question_form.answer(class="form-control is-invalid auto-adjust-textarea",
                id="answer-input-field") }}
                <div class="input-feedback invalid-feedback" id="answer-input-field-feedback">
                    {% for error in question_form.answer.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
                {% else %}
                {{ question_form.answer(class="form-control auto-adjust-textarea",
                id="answer-input-field") }}
                <div class="input-feedback" id="answer-input-field-feedback"></div>
                {% endif %}
                <a href="#!" id="show-answer-preview" class="show-preview-button button-accent">Show
                    preview</a>
            </div>
            <div class="preview-form-container" data-preview-toggled-by="show-answer-preview"
                data-preview-value-from="answer-input-field">
                <div class="text-tertiary">
                    Preview:
                </div>
                <div class="preview-content"></div>
            </div> -->
            <div class="input-field">
                {{ question_form.difficulty.label(class="form-label") }}
                {% if question_form.difficulty.errors|length > 0 %}
                {{ question_form.difficulty(class="form-select is-invalid",
                id="difficulty-input-field") }}
                <div class="input-feedback invalid-feedback" id="difficulty-input-field-feedback">
                    {% for error in question_form.difficulty.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
                {% else %}
                {{ question_form.difficulty(class="form-select", id="difficulty-input-field") }}
                <div class="input-feedback" id="difficulty-input-field-feedback"></div>
                {% endif %}
            </div>
            <div class="add-question-button-container">
                {{ question_form.submit(class="btn btn-primary",
                value="Submit as %s %s" % (current_user.first_name, current_user.last_name)) }}
                {% if course is not none %}
                <a href="{{ url_for('course.course', course_code=course.code, course_level_code=course.course_level.code)}}"
                    class="btn btn-primary">
                    Back to {{ course.name }}
                </a>
                {% endif %}
            </div>
        </form>
    </div>
</main>
{% endblock %}