{% extends 'layouts/base.html' %}
{% block title %}Added your question to {{ course.name }} - Nebula{% endblock %}
{% block body %}
<main>
    <div class="container-lg">
        <h2>Question added to {{ course.name }}</h2>
        <p class="text-tertiary">
            Preview:
        </p>
        <div class="question-preview">
            <h4>Title: {{ question.title }}</h4>
            <p>
                Question: {{ question.content }}
            </p>
            <p>
                Difficulty: {{ question.difficulty }}
            </p>
            <p>
                Answer: {{ question.answer }}
            </p>
        </div>
        <div class="d-flex justify-content-between mt-3">
            <a href="{{ url_for('add_question.add_question', course_code=question.course.code)}}"
                class="button-accent">
                Add another question
            </a>
            <a href="{{ url_for('course.course', course_code=course.code, course_level_code=course.course_level.code)}}"
                class="button-accent">
                {% if course_code is not none %}
                Back
                {% else %}
                Go
                {% endif %}
                to {{ course.name }}
            </a>
        </div>
    </div>
</main>
{% endblock %}