{% extends "layouts/base.html" %}
{% block title %}All Courses - Nebula{% endblock %}
{% from "utilities/macros.html" import course_list_item with context %}
{% block body %}
<main>
    <section class="container-lg">
        <h2>All Courses</h2>
        <div class="course-list-container">
            <div class="course-level">
                {% for course_level in course_levels %}

                <h3>{{ course_level.study_type }} {{ course_level.name }}</h3>
                {% for course in courses[course_level.id - 1] %}{{ course_list_item(course)}}{%
                endfor
                %}
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock %}