</html>
{% extends "layouts/base.html" %}

{% block title %}{{course.name}}- Nebula{% endblock %}

{% macro question_list_item(question) -%}
<a class="inline-link"
href="{{url_for('question.question', course_code = course.code, question_id=question.id)}}">
<div class="row">
    <div class="col-sm">{{question.title}}</div>
    {% if question.creation_datetime.strftime('%Y-%m-%d') != '1970-01-01' %}
    <div class="col-sm-auto">{{question.creation_datetime.strftime('%Y-%m-%d')}} </div>
    {% endif %}
    <div class="col-sm-auto">{{question.user.firstname}} {{question.user.lastname}}</div>
</div>
</a>
{%- endmacro %}
<!-- <a href="{{url_for('question.question', question=question.id)}}">{{question.title}}</a> -->

{% block body %}
<main>
    <section class="container">
        <h2>{{course.name}} {{course.code}}</h2>
        <h3>Questions</h3>
        <div>
            {% for question in questions %}
            {{ question_list_item(question) }}
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}