{% extends 'layouts/base.html' %}
{% block title %}Documentation{% endblock title %}


{% block body %}
<main>
    <div class="container-lg">
        <div class="background-card">
            <div class="documentation__title">
                <h2>Welcome to the nebula documentation!</h2>



            </div>
            <div class="documentation__summary">
                <p>
                    This is the documentation for nebula.
                    It contains information about how to use Markdown and Latex.
                </p>
            </div>

            <div class="documentation__list">
                {% for item in documentation_list %}
                <div class="documentation__list__item">
                    <a href="{{ url_for('documentation.item', uuid = item.uuid) }}">{{ item.title
                        }}</a>



                </div>
                {% endfor %}
            </div>


        </div>
    </div>
</main>

{% endblock body %}