<!-- NOT FINISHED -->
{% extends "layouts/base.html" %}
{% block title %}Index - Nebula{% endblock %}
{% macro level_list_item(course_level) -%}
<p>
    <a class="inline-link"
        href="{{ url_for('level.level', course_level_code=course_level.code)}}">{{ course_level.name
        }}</a>
</p>
{%- endmacro %}
{% block include_header %}{% endblock %}
{% block body %}
<main id="Main" class="no-header-margin no-footer-margin">
    <div class="container-background">
        <div class="stars"></div>
        <div class="twinkling"></div>
        <div class="container-index">
            <div class="panel left-panel">

                <section class="container-introduction">
                    <div class="content">

                        {% if current_user.is_anonymous %}
                        <h2>Welcome to Nebula!</h2>
                        {% else %}
                        <h2>Welcome back to Nebula, {{ current_user.first_name }}!</h2>
                        {% endif %}
                        <p>
                            This is the Nebula Database by the Kapteyn Learning Community.
                        </p>
                        <p>
                            It is a repository of user-submitted practice questions.
                        </p>
                    </div>

                    <div class="image">
                        <img src="{{ url_for('static', filename='images/online-test.svg') }}"
                            alt="">
                    </div>
                </section>
            </div>
            <div class="panel right-panel">
                <section class="container-index-browse">
                    <h2>Browse the Nebula</h2>
                    <p>
                        <a class="inline-link" href="{{ url_for('courses.all_courses')}}">All
                            Courses</a>
                    </p>
                    <h3>Bachelor</h3>
                    {% for course_level in bsc_levels %}{{ level_list_item(course_level) }}{% endfor
                    %}
                    <h3>Master</h3>
                    {% for course_level in msc_levels %}{{ level_list_item(course_level) }}{% endfor
                    %}
                </section>
                <section class="container-add-question">
                    <h2>Have a question?</h2>
                    <a class="btn btn-primary"
                        href="{{ url_for('add_question.add_question')}}">Submit a
                        question</a>
                </section>
            </div>
        </div>
    </div>
</main>
{% endblock %}