{% extends "layouts/base.html" %}
{% block title %}{{ course_level.study_type }} {{ course_level.name }} - Nebula{% endblock %}
{% from "utilities/macros.html" import course_list_item with context %}
{% block body %}
<main>
    <div class="container-lg">
        <div class="path-container">
            <a class="path-container__link"
                href="{{ url_for('web.courses.all_courses') }}">Courses</a>
            <a class="path-container__link"
                href="{{ url_for('web.level.level', course_level_code=course_level.code) }}">{{
                course_level.name }}</a>
        </div>


        <section class="background-card">
            <h2>{{ course_level.study_type }} {{ course_level.name }} Courses</h2>
            <div class="course-list-container">
                {% for course in courses %}{{ course_list_item(course)}}{% endfor %}
            </div>
        </section>
    </div>
</main>
{% endblock %}