@import "../abstracts/mixins";

.navbar {
	display: flex;
	background-color: var(--color-background);
	box-shadow: var(--box-shadow);
}

@media (hover: hover) and (min-width: 992px) {
	.nav-item {
		&:hover,
		&:focus {
			.dropdown-menu {
				display: block;
			}
		}
	}

	.carot-left:after,
	.dropdown-menu > li > a:hover:after,
	.dropdown-menu > li > a:focus:after {
		/* rotate caret on hover */
		transform: rotate(-90deg);
	}
	.dropdown-menu {
		display: none;
		margin-top: 0;

		.dropdown-submenu {
			display: none;
			position: absolute;
			left: 100%;
			top: 0px;
		}

		li {
			position: relative;

			&:hover,
			&:focus {
				.dropdown-submenu {
					display: block;
				}
			}

			a:hover::after,
			a:focus::after,
			.carot-left:after {
				transform: rotate(-90deg);
			}
		}
	}
}

.nav-link {
	font-family: "Poppins", "Open Sans", "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 2rem;

	color: var(--color-text-secondary) !important;

	&:hover,
	&:focus {
		color: var(--color-text-primary) !important;
	}

	&.active {
		color: var(--color-primary-active) !important;
		font-weight: 600;
	}
}

.navbar-toggler {
	border-color: var(--color-text-secondary) !important;
	border: none !important;
	padding: 0 !important;

	&:hover,
	&:focus {
		border-color: var(--color-text-primary) !important;
	}
	svg {
		color: var(--color-text-secondary) !important;
		&:hover,
		&:focus {
			color: var(--color-text-primary) !important;
		}
	}
}

.site-name {
	font-family: "Poppins", "Open Sans", "Arial", sans-serif;
	font-size: 2rem;
	// line-height: 3rem;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
	letter-spacing: -0.04rem;
	color: var(--color-primary-active);
}

.navbar-brand {
	img {
		display: inline-block;
		max-height: 3.125rem;
	}

	div {
		display: inline-block;
		vertical-align: middle;

		p {
			margin-bottom: 0;
			font-size: 65%;
		}
	}
}

.dropdown-menu {
	border-radius: 0;
	border: 0 solid transparent;
	border-bottom: 2px solid var(--color-secondary);
	padding: 0;
	background-color: var(--color-background);
	color: var(--color-text-primary);
	overflow: visible;
	margin-top: 0 !important;

	&-right {
		right: 0;
		left: initial !important;
	}

	& .active {
		text-decoration: underline;
		color: inherit;
		background-color: var(--color-background);
		color: var(--color-text-secondary);
	}
}

.dropdown-submenu {
	border-radius: 0;
	border: 0 solid transparent;
	color: var(--color-text-primary);
	border-bottom: 2px solid var(--color-primary-active);
	padding: 0;
	background-color: var(--color-background);
}

.dropdown-submenu li {
	list-style: none;
}

.dropdown-item {
	padding-top: 10px;
	padding-bottom: 10px;
	transition: background-color 0.15s;
	color: var(--color-text-primary);
}

.dropdown-item:hover,
.dropdown-item:focus {
	background-color: var(--color-background-secondary);
	color: var(--color-text-primary);
}

.dropdown-menu .dropdown-submenu {
	display: none;
}

.nav-header {
	font-weight: 200;
	margin-left: 0.5em;
}

/* check if a device supports :hover */
@media (hover: hover) {
	:root {
		--has-hover: 1;
	}
}

@media (max-width: 991px) {
	/* .navbar-nav>li>a:after, */
	.dropdown-menu > li > a:after {
		transform: rotate(-90deg);
	}

	/* .navbar-nav>li>a:focus:after, */
	.dropdown-menu > li > a:focus:after {
		transform: rotate(0);
	}

	.dropdown-menu .dropdown-submenu {
		margin-left: 0.5em;
		border: 0;
	}

	.dropdown-submenu,
	.dropdown-item {
		max-width: #{"calc(100vw - 2rem)"};
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

@media (hover: none) and (min-width: 992px) {
	:root {
		--has-hover: 0;
	}

	.dropdown-menu .dropdown-submenu {
		display: none;
		position: absolute;
		left: 100%;
		top: 0px;
	}

	.dropdown-menu li {
		position: relative;

		/* rotate caret on hover */
		a:focus:after {
			transform: rotate(-90deg);
		}
	}
}

.persistent-nav-container {
	color: var(--color-text-primary);
	margin-inline-start: auto;
	display: flex;
	.dark-mode-toggle-container {
		vertical-align: middle;
		margin-left: auto;
		display: grid;
		place-items: center;
		padding: 0.5rem;
	}

	.account-management-dropdown {
		padding: 0.5rem;
		display: flex;
		align-items: center;
		justify-content: center;

		span {
			display: none;

			@include mq(sm) {
				display: inline;
			}
		}
	}
}
.main-title {
	/* font-size: 3rem; */
	margin-bottom: 1rem;
}

@media all and (min-width: 992px) {
	.persistent-nav-container {
		order: 2;
		margin-right: 0;
	}
	.account-management-dropdown {
		order: 2;
	}
}

.dark-mode-icon,
.light-mode-icon {
	display: none;
	color: var(--color-text-secondary);
}

.dark-mode-icon:hover,
.light-mode-icon:hover {
	color: var(--color-text-primary);
}

.animate-rotation .dark-mode-icon,
.animate-rotation .light-mode-icon {
	animation: rotation 0.2s ease-out;
}
.dark-mode-toggle-container .dark-mode-enabled .dark-mode-icon {
	display: none;
}

.dark-mode-toggle-container .dark-mode-enabled .light-mode-icon {
	display: block;
}

.dark-mode-toggle-container .light-mode-enabled .dark-mode-icon {
	display: block;
}

.dark-mode-toggle-container .light-mode-enabled .light-mode-icon {
	display: none;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.notifications-dropdown {
	padding: 0.5rem;
	display: grid;
	place-items: center;
	height: 100%;

	&::after {
		border: none !important;
		width: 0;
		height: 0;
		content: initial;
	}
	&.unread {
		color: var(--color-primary-active);

		&::after {
			content: attr(data-unread-count);
			position: absolute;
			display: flex;
			font-family: "Lato", "Roboto", "Arial", sans-serif;
			justify-content: center;
			align-items: center;
			text-align: center;
			top: 10%;
			right: 0;
			width: 1.2rem;
			height: 1.2rem;
			font-size: 0.875rem;
			border-radius: 50%;
			background-color: var(--color-primary-active);
			color: var(--color-background);
			border: none !important;
		}
	}
}
