.search-bar {
	background-color: var(--color-background-secondary);

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	border-radius: 5px;
	padding: 0.5rem 0.5rem;
	margin-bottom: 1rem;

	&:focus-within {
		background-color: var(--color-background-tertiary);
	}

	.form-control {
		padding-bottom: 0;
		&::placeholder {
			color: var(--color-text-secondary);
		}
	}

	svg {
		pointer-events: none;
		color: var(--color-text-primary);
		fill: var(--color-text-primary);
	}
}
